@model Tourist_VietripInsum_2023.Models.BookTour
@using Tourist_VietripInsum_2023.Models

@{
    ViewBag.Title = "BookTour";
    Layout = "~/Views/Guest/ViewGuest/Guest.cshtml";
    TouristEntities1 db = new TouristEntities1();
    KhachHang khachhang = Session["taikhoan"] as KhachHang;

}
<link href="~/Content/Guest/StyleBookTour.css" rel="stylesheet" />
<div class="dattour">
    @*<div class="flex-col flex-grow medium-text-center nav-main">
            <nav class="nav-links flex-row flex-row-center heading-font text-center strong h4 uppercase">
                <a href="#" class="current">	1.Nhập thông tin </a>
                <span class="divider hide-for-small"><i class="fa fas-arrow-right"></i></span> >
                <a href="#" class="hide-for-small">	2.Thanh toán &amp; giao hàng </a> >
                <span class="divider hide-for-small"><i class="fa fas-arrow-right"></i></span>
                <a href="#" class="no-click hide-for-small">	3.Hoàn tất đặt hàng </a>
            </nav>
        </div>*@
    @{
        string matour = (string)Session["Matourchon"];
        var tour = db.Tours.Where(t => t.MaTour == matour).FirstOrDefault();
        var ngaykhoihanh = String.Format("{0:d/M/yyyy}", tour.NgayKhoihanh);
    }
    <section class="thongtindatve">
        <div class="container">
            <div class="row">
                <div class="col-12 top">
                    <div class="detailtour">
                        <div class="image-tour">
                            <img src="@tour.HinhMinhHoa_T" class="img-fluid" alt="image">
                        </div>
                        <div class="tour-content">
                            <p class="title" id="title" style="text-align:left">
                                @tour.TenTour
                            </p>
                            <div class="entry">
                                <div class="entry-inner">
                                    <span>Mã Tour <b>@tour.MaTour</b></span>
                                    <span>Khởi hành <b>@ngaykhoihanh</b></span>
                                    <span>Thời gian <b>@tour.SoNgay ngày</b></span>
                                    <span>Nơi khởi hành <b>@tour.NoiKhoiHanh</b></span>
                                    <span>Số chỗ còn nhận <b>@ViewBag.chodamua</b></span>

                                </div>

                            </div>
                        </div>
                        <!-- <div class="entry-mb d-lg-none">
                        <div class="entry-inner">
                        <span>Khởi hành <b>06/04/2023, TP. Hồ Chí Minh</b></span>
                        <span>Số chỗ còn nhận <b>9</b></span>
                        <span>Số ngày <b>4 ngày</b></span>
                        </div>
                        </div> -->
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.MaDH)
                    @Html.HiddenFor(model => model.MaNVLap)
                    @Html.HiddenFor(model => model.MaTour)
                    @Html.HiddenFor(model => model.NgayLap)
                    @Html.HiddenFor(model => model.TrangThaiTT)
                    @Html.HiddenFor(model => model.TotalPrice)

                    <div class="form-horizontal">
                        <div class="col-md-8 col-12 left-lienlac">
                            <h3 class="title-name">THÔNG TIN LIÊN LẠC</h3>
                            <div class="customer-contact mb-3">
                                <form class="form-contact" action="/Guest/DatTour" method="post" id="form">
                                    <div class="row">
                                        <div class="name col-sm-6">
                                            <label>Họ và Tên <b>*</b></label>
                                            <input class="form-control" id="contact_name" name="TenKH" type="text" value="">
                                        </div>
                                        <div class="mail col-sm-6">
                                            <label>Email <b>*</b></label>
                                            <input class="form-control" id="email" name="Email" type="text" value="">
                                        </div>
                                        <div class="phone col-sm-6">
                                            <label>Số điện thoại <b>*</b></label>
                                            <input class="form-control" id="mobilephone" name="SDT" onkeypress="return funCheckInt(event)" type="text" value="">
                                        </div>
                                        <div class="addess col-sm-6">
                                            <label>Địa chỉ</label>
                                            <input class="form-control" id="address" name="DiaChi" type="text" value="">
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="ticket-tour">
                                <h3 class="title-name">Hành khách</h3>
                                <div class="row" style="padding: 0 10px;">
                                    <div class="change col-sm-5">
                                        <div class="change-title">
                                            <h4>Số vé đặt mua</h4>
                                            
                                        </div>
                                        <div class="change-number">
                                            @Html.EditorFor(model => model.SoCho, new { htmlAttributes = new { @class = "form-control", @id = "socho" } })

                                        </div>
                                    </div>
                                    @*<div class="change col-sm-5">
                    <div class="change-title">
                        <h4>Trẻ em</h4>
                        <p>Từ 5 - 11 tuổi</p>
                    </div>
                    <div class="change-number">
                        <span class="minus btn-click"><i class="fal fa-minus-circle" id="childrenMinus"></i></span>
                        <span class="number" id="children">0</span>
                        <span class="plus btn-click"><i class="fal fa-plus-circle" id="childrenPlus"></i></span>
                    </div>
                </div>*@

                                </div>


                            </div>
                            <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-success" onclick="myFunction()">
                                <label>Liên hệ tư vấn</label>
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    @using (Html.BeginForm("", "Guest", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="modal-content">
                                            <div class="modal-body" id="main-body">
                                            
                                            </div>
                                            <div class="modal-footer">
                                                <a onclick="deleteso()" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</a>
                                                <input type="submit" value="Thêm phản hồi" class="btn btn-success btn-sm" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <script>
                                function deleteso() {
                                  
                                    document.getElementById("socho").value = 0;
                                    var sochoInput = document.getElementById("socho");
                                }

                                function myFunction() {
                                   
                                    var html = '';

                                    //lấy phần tử cha
                                    const parent = document.getElementById("main-body");
                                    parent.innerHTML = html;
                                    var sochoInput = document.getElementById("socho");
                                    var so = sochoInput.value;
                                    //tạo 5 div và thêm chúng vào phần tử cha
                                    for (let i = 0; i < so; i++) {
                                        const newDiv = document.createElement("div");
                                        parent.innerHTML += `
                                        <div class="ticket-info">

                                            <div class="row" id="ListInfoAdult">
                                                <div class="group-info-name col-sm-5">
                                                    <span>Họ tên</span>
                                                    <input value="1" data-val="true" data-val-number="The field persontype must be a number." data-val-required="The persontype field is required." name="[0].persontype" type="hidden">
                                                    <input class="form-control" name="[0].fullname" placeholder="Vui lòng nhập Họ tên" required="required" type="text" value="">
                                                </div>
                                                <div class="group-info-sex col-sm-3">
                                                    <span>Giới tính</span>
                                                    <select class="form-control" data-val="true" data-val-number="The field gender must be a number." data-val-required="The gender field is required." name="[0].gender" placeholder="Vui lòng chọn giới tính" required="required">
                                                        <option selected="selected" value="-1">Giới tính</option>
                                                        <option value="0">Nữ</option>
                                                        <option value="1">Nam</option>
                                                    </select>
                                                </div>
                                                <div class="group-info-birthday col-sm-3">
                                                    <span>Ngày sinh</span>
                                                    <input class="form-control" name="" placeholder="Vui lòng nhập chọn ngày sinh" required="required" type="date" value="">
                                                </div>
                                                <div class="group-info-note col-sm-11">
                                                    <span>Lưu ý</span>
                                                    <input class="form-control" name="" placeholder="Nhập lưu ý" required="required" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
</div>
                                    `;
                                        //parent.append(newDiv);
                                       
                                    }


                                }
                            </script>





                            <!-- NUT CHON NHAP HAY KHONG -->
                            <!-- <div class="mb-4">
        <div class="form-check checkbox-input-search d-inline-flex  align-items-center">
            <input class="form-check-input me-3" type="radio" checked="checked" id="radListCus" name="flexCheckDefault">
            <input type="hidden" value="Input" id="Option">
            <label class="form-check-label mt-1 small" for="flexCheckDefault_Option1">
            Nhập danh sách khách hàng
            </label>
        </div>
        <div class="form-check checkbox-input-search d-inline-flex  align-items-center">
            <input class="form-check-input me-3" type="radio" id="radSupport" name="flexCheckDefault">
            <input type="hidden" value="NotInput" id="Option">
            <div class="col-11">
                <label class="form-check-label mt-1 small" for="flexCheckDefault_Option1">
                 Tôi cần được nhân viên tư vấn
                </label>
            </div>
        </div>
    </div> -->
                            <!-- DAT VE -->
                            <div class="ticket-customer">
                                <div class="list">
                                    <h3 class="title-name">Thông tin hành khách</h3>
                                    <form class="form-contact" action="" method="get" id="formMember">
                                      
                                    </form>


                                    <form class="form-contact" action="" method="get" id="formMember" style="padding-top: 10px;">
                                        <h4 class="typeper">Trẻ em</h4>
                                        <div class="ticket-info">
                                            <div class="row" id="ListInfoAdult">
                                                <div class="group-info-name col-sm-5">
                                                    <span>Họ tên</span>
                                                    <input value="1" data-val="true" data-val-number="The field persontype must be a number." data-val-required="The persontype field is required." name="[0].persontype" type="hidden">
                                                    <input class="form-control" name="[0].fullname" placeholder="Vui lòng nhập Họ tên" required="required" type="text" value="">
                                                </div>
                                                <div class="group-info-sex col-sm-3">
                                                    <span>Giới tính</span>
                                                    <select class="form-control" data-val="true" data-val-number="The field gender must be a number." data-val-required="The gender field is required." name="[0].gender" placeholder="Vui lòng chọn giới tính" required="required">
                                                        <option selected="selected" value="-1">Giới tính</option>
                                                        <option value="0">Nữ</option>
                                                        <option value="1">Nam</option>
                                                    </select>
                                                </div>
                                                <div class="group-info-birthday col-sm-3">
                                                    <span>Ngày sinh</span>
                                                    <input class="form-control" name="" placeholder="Vui lòng nhập chọn ngày sinh" required="required" type="date" value="">
                                                </div>
                                                <div class="group-info-note col-sm-11">
                                                    <span>Lưu ý</span>
                                                    <input class="form-control" name="" placeholder="Nhập lưu ý" required="required" type="text" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- RIGHT -->
                        @*<div class="col-md-4 col-12 right-thongtin">
                                <div class="price-tour">
                                    <h4 class="title-ticket">BẢNG VÉ</h4>
                                    <div class="detail-book-tour">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Người lớn</td>
                                                    <td class="t-price text-right" id="AdultPrice">
                                                        1 x 4,390,000₫
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Trẻ em</td>
                                                    <td class="t-price text-right" id="ChildrenPrice">
                                                        0₫
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                    <h4 class="title-ticket">THÔNG TIN ĐẶT VÉ</h4>
                                    <div class="detail-book-tour">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Người lớn</td>
                                                    <td class="t-price text-right" id="AdultPrice">
                                                        1 x 4,390,000₫
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Trẻ em</td>
                                                    <td class="t-price text-right" id="ChildrenPrice">
                                                        0₫
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Giảm giá</td>
                                                    <td class="t-price text-right" id="ChildrenPrice">
                                                        0₫
                                                    </td>
                                                </tr>
                                                <tr id="promotiontitletotal" style="display:none">
                                                    <td>Tổng tiền</td>
                                                    <td class="t-price text-right" id="PromotionTotalPrice"></td>
                                                </tr>

                                                <tr class="total">
                                                    <td>Tổng cộng</td>
                                                    <td class="t-price text-right" id="TotalPrice">5,690,000₫</td>
                                                    <td class="t-price text-right" style="display: none;" id="TotalPricetemp">5890000</td>
                                                    <td class="t-price text-right" style="display: none;" id="TotalOptionPrice"> 0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <button class="btn btn-success btn-order" style="width:100% ">
                                                Đặt ngay
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>*@

                    </div>
                }
            </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>