
@using Tourist_VietripInsum_2023.Models
@using PagedList.Mvc
@model PagedList.PagedList<Tour>

@{
    ViewBag.Title = "List Tour";
    Layout = "~/Views/Guest/ViewGuest/Guest.cshtml";
    TouristEntities1 db = new TouristEntities1();

    List<DiaDiemThamQuan> diaDiems = db.DiaDiemThamQuans.ToList();
}

<link href="~/Content/Guest/ListTour-Option.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="tour-searchlist" style="background-color: #f9f9f9">
    <div class="container">
        <form action="#" method="post">
            <div class="row">
                @{
                    List<Tour> tours = Model.ToList();
                    var matinh = Session["tentinh"];
                    var tinh = db.TinhThanhs.Where(t => t.MaTinh == matinh).FirstOrDefault();
                    var count = tours.Count();
                }
                <div class="col-md-3 col-12 " style="background-color: #EDEBEB">
                    <!-- TIMKIEM -->

                    @using (Html.BeginForm("ListTourTinhThanh", "Guest", FormMethod.Post))
                    {
                        <div class="">
                            <h5 class="m-3 text-dark text-center">Bộ lọc tìm kiếm</h5>
                            <div>
                                <div class="bg-success py-2 text-center">
                                    <span class="text-white fw-bold">@tinh.TenTinh</span>
                                </div>
                                <div class="py-4">
                                    <div class="mb-4">
                                        <h5 class="point-start-title s-title">Loại tour</h5>
                                        <select class="form-select" name="trangthai">
                                            <option>Tour giờ chót</option>
                                            <option>Đang diễn ra</option>
                                        </select>
                                    </div>
                                    <div class="start-to-stop mb-3">
                                        <h5 class="point-start-title s-title">Nơi khởi hành</h5>
                                        <select class="form-select" id="departureIDFilter" name="noikhoihanh">
                                            <option>TP. Hồ Chí Minh</option>
                                            <option>Hà Nội</option>
                                            <option>Đà Nẵng</option>
                                            <option>Huế</option>
                                            <option>Rạch Giá</option>
                                            <option>Vũng tàu</option>
                                            <option>Nha Trang</option>
                                            <option>Cần Thơ</option>
                                        </select>
                                    </div>
                                    <div class=" mb-4 row">
                                        <h5 class="s-title">Số ngày</h5>
                                        <div class="radio col-6">
                                            <label><input type="radio" name="songay" value="1 - 3 ngày" checked> 1 - 3 ngày</label>
                                        </div>
                                        <div class="radio col-6">
                                            <label><input type="radio" name="songay" value="4 - 7 ngày"> 4 - 7 ngày</label>
                                        </div>
                                        <div class="radio col-6">
                                            <label><input type="radio" name="songay" value="8 - 10 ngày"> 8 - 10 ngày</label>
                                        </div>
                                        <div class="radio col-6">
                                            <label><input type="radio" name="songay" value="10+ ngày"> 10+ ngày</label>
                                        </div>
                                    </div>
                                    <h5 class="date-go-to-back-title s-title">Ngày đi</h5>
                                    <input class="form-control col-md-12 text-box single-line " data-val="true" name="ngaykhoihanh" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                                    <p id="alternate1"></p>
                                    <p id="alternate4"></p>
                                    <div class="tour-search-result__filter__block mb-4">
                                        <h5 class="s-title">Số người</h5>
                                        <div class="btn-group tour-search-result__filter__room" role="group" aria-label="Basic example">
                                            <div class="row g-2">
                                                <div class="radio col-6">
                                                    <label><input type="radio" name="songuoi" value="1 người" checked> 1 người</label>
                                                </div>
                                                <div class="radio col-6">
                                                    <label><input type="radio" name="songuoi" value="2 - 3 người"> 2 - 3 người</label>
                                                </div>
                                                <div class="radio col-6">
                                                    <label><input type="radio" name="songuoi" value="3 - 5 người"> 3 - 5 người</label>
                                                </div>
                                                <div class="radio col-6">
                                                    <label><input type="radio" name="songuoi" value="5+ người"> 5+ người</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <input class="btn btn-outline-success py2" type="submit" name="submit" value="Tìm kiếm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- LISTTOUR -->

                <div class="col-md-9 col-12 main-content">
                    <div class="pr-tinhthanh">
                        <h3>Du lịch @tinh.TenTinh</h3>
                        @*<p>Chúng tôi tìm thấy <span>@tongtour</span> kết quả</p>*@
                    </div>
                    <div class="listour-search">

                        <div class="row row-cols-1 row-cols-md-3 g-4" id="sampleTable">
                            @{
                                if (count == 0)
                                {
                                    <h3 class="text-center">Không tìm thấy tour</h3>
                                }
                                else
                                {
                                    foreach (var tour in Model)
                                    {

                                        <div class="col">
                                            <div class="card tour-item">
                                                <div class="tour-item__image">
                                                    <a href="/Guest/Tourinfomation/@tour.MaTour" title="#">
                                                        <img src="@tour.HinhMinhHoa_T" class="card-img-top img-fluid" alt="@tour.TenTour">
                                                    </a>
                                                </div>
                                                @{
                                                    var ngaykhoihanh = String.Format("{0:d/M/yyyy}", tour.NgayKhoihanh);
                                                    var ngayhethan = String.Format("{0:d/M/yyyy}", tour.HanChotDatVe);
                                                }
                                                <div class="card-body p-3">
                                                    <p class="tour-item_date mb-1">@ngaykhoihanh - @tour.SoNgay ngày</p>
                                                    <p class="card-text tour-item_title mb-1">
                                                        <a href="/Guest/Tourinfomation/@tour.MaTour" title="@tour.TenTour ">
                                                            @tour.TenTour
                                                        </a>
                                                    </p>
                                                    <div class="tour-item_code">
                                                        Mã tour:<span> @tour.MaTour</span>
                                                    </div>
                                                    <p class="tour-item_departure">
                                                        Nơi khởi hành: <span>
                                                            @tour.NoiKhoiHanh
                                                        </span>
                                                    </p>
                                                    @{
                                                        var tien = string.Format("{0:#,##0}", tour.GiaNguoiLon);
                                                        var loaitour = db.LoaiTours.Where(s => s.MaLTour == tour.MaLTour).FirstOrDefault();

                                                        //var pricesale = (double)item.GiaNguoiLon * (1 - loaitour.ChietKhau);
                                                        var tienchuagiam = tour.GiaNguoiLon + (tour.GiaNguoiLon * loaitour.ChietKhau);
                                                        var tiensale = string.Format("{0:#,##0}", tienchuagiam);
                                                        var ck = loaitour.ChietKhau * 100;


                                                    }
                                                    <div class="tour-item_price">
                                                        <div class="price__wrappertour">
                                                            @{
                                                                if (ck == 0)
                                                                {
                                                                    <div class="price-current">
                                                                        <span class="tour-item_price-new">@tiensale ₫</span>

                                                                    </div>

                                                                }
                                                                else
                                                                {
                                                                    <div class="pricebefore">
                                                                        Giá
                                                                        <span class="tour-item_priceold">@tiensale ₫</span>
                                                                    </div>
                                                                    <div class="price-current">
                                                                        <span class="tour-item_price-new">@tien ₫</span>
                                                                        <span class="tour-item_discount small p-1">@ck% GIẢM</span>
                                                                    </div>
                                                                }
                                                            }
                                                            <!--<div class="tour-item_btntour">-->
                                                            @*<div class="btn-book">
                                                                    <a href="#" class="btn-order btn-sm " title="" value="" id="">
                                                                        <i class="fas fa-shopping-cart"></i>
                                                                        Đặt ngay

                                                                    </a>
                                                                </div>*@
                                                            <!--<div class="btn-block">
                                                                    <a href="/Guest/Tourinfomation/@tour.MaTour" title="@tour.TenTour" class="btn-viewdetail">

                                                                        Xem chi tiết

                                                                    </a>
                                                                </div>
                                                            </div>-->
                                                        </div>
                                                    </div>
                                                    <div class="tour-item_footer">
                                                        <div class="dateend-item">
                                                            @ngayhethan
                                                        </div>
                                                        <div class="seattour_item">
                                                            Số chỗ còn:
                                                            <span>@tour.SoChoNull</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            }

                        </div>
                    </div>
                    <!-- Thêm mã phân trang -->
                    <br />
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("ListTourTinhThanh", new { page }))
                    </div>
                    <style>
                        .MenuTrang li {
                            display: inline;
                        }
                    </style>
                    <!-- Kết thúc -->

                </div>

            </div>

        </form>
    </div>
</div>

<style>
    .tour-item:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }
</style>