
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Guest/ViewGuest/Guest.cshtml";
    TouristEntities1 db = new TouristEntities1();
    var maDH = Session["madonhang"].ToString();
    var dh = db.BookTours.Where(s => s.MaDH == maDH).FirstOrDefault();
    var tour = db.Tours.Where(s => s.MaTour == dh.MaTour).FirstOrDefault();
    var kh = db.KhachHangs.Where(s => s.MaKH == dh.MaKH).FirstOrDefault();
    var ve = db.Ves.Where(s => s.MaDH == maDH).ToList();
}

<script>
    // Kiểm tra sự kiện popstate khi người dùng nhấn nút quay lại

    window.addEventListener('popstate', function (event) {
        // Đặt lại trang hiện tại
        location.reload();
        alert("Bạn phải hoàn tất thanh toán trước khi quay lại!");
    });

    // Thêm lịch sử truy cập với window.history.pushState

    history.pushState(null, null, location.href);

    // Xóa lịch sử truy cập gần đây với window.history.replaceState
    history.replaceState(null, null, location.href);
    // Thêm trang thanh toán vào lịch sử của trình duyệt
    //window.history.pushState({ page: "Payment" }, "Payment", "http://localhost:49878/Guest/Payment");
    ////Theo dõi sự kiện bấm nút quay lại của người dùng
    //window.onpopstate = function (event) {
    //    // Kiểm tra lại lịch sử của trình duyệt và đặt lại trang về trang trước đó nếu người dùng đã quay lại
    //    if (event.state && event.state.page === "Payment") {
    //        alert("Bạn phải hoàn tất thanh toán trước khi quay lại!");
    //        window.history.pushState({ page: "Payment" }, "Payment", "http://localhost:49878/Guest/Payment");
    //    }
    //};
</script>
<script src="https://unpkg.com/boxicons@2.1.3/dist/boxicons.js"></script>

<style>
    #example1 {
        background-image: url('../../images/paper.gif');
        padding: 15px;
        margin-top:10px;
    }
    #example2 {
        background-image: url('../../images/img_flwr.gif'), url('../../images/paper.gif');
        background-position: center;
        background-repeat: no-repeat, repeat;
        padding: 15px;
        background-size:contain;
        margin-top: 10px;
    }
</style>
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div><box-icon name='credit-card-alt' type='solid' animation='spin' style="width:70px; height:70px; margin-top:20px;"></box-icon></div>
    <h2>THANH TOÁN</h2>
    <p>Quý khách vui lòng kiểm tra thông tin trước khi đặt hàng</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <fieldset class="col-sm-12 border rounded-3 p-3">
                <legend class="float-none w-auto px-3 text-muted">THÔNG TIN ĐƠN HÀNG</legend>
                <div class="row">

                    <div class="col-sm-4">
                        <img src="@tour.HinhMinhHoa_T" class="img-fluid" alt="image" />
                    </div>
                    <div class="col-sm-8 text-lg-left" style="display: flex; flex-direction: column; align-items: center; justify-content: center; ">
                        <div class="col-sm-12"><b>Mã tour: </b> <b style="color: #dc4e4e">@tour.MaTour</b> </div>
                        <p class="font-weight-bold" style="color: #2d4271; font-weight: 700; font-size: 20px;">@tour.TenTour</p>
                    </div>
                </div>
                <dl class="row">
                    <dt class="col-sm-4"></dt>
                    <dt class="col-sm-4"><hr /></dt>
                    <dt class="col-sm-4"> </dt>

                    <dt class="col-sm-4"></dt>
                    <dt class="col-sm-4 text-center fw-bold">Số lượng </dt>
                    <dt class="col-sm-4 text-center fw-bold">Thành tiền </dt>
                    @{ int i = 0, ii = 0;
                        foreach (var item in ve)
                        {
                            if (item.MaLVe == "TICKET01")
                            {
                                i++;
                            }
                            else
                            {
                                ii++;
                            }
                        }
                    }
                    <dt class="col-sm-4">Người lớn</dt>
                    <dd class="col-sm-4 text-center">@i x @tour.GiaNguoiLon</dd>
                    <dd class="col-sm-4 text-center">@{ int tong = i * (int)tour.GiaNguoiLon;} @String.Format("{0:0,0 vnđ}", tong)</dd>

                    <dt class="col-sm-4">Trẻ em</dt>
                    <dd class="col-sm-4 text-center">@ii x @tour.GiaTreEm</dd>
                    <dd class="col-sm-4 text-center">@{ int tong1 = ii * (int)tour.GiaTreEm;} @String.Format("{0:0,0 vnđ}", tong1)</dd>
                    <shadow><hr /></shadow>

                    <dt class="col-sm-4">Tổng số ghế </dt>
                    <dd class="col-sm-4 text-center">@{int t = i + ii;} @t</dd>
                    <dd class="col-sm-4 text-center">@{int tien = tong + tong1;} @String.Format("{0:0,0 vnđ}", tien)</dd>

                    <dt class="col-sm-4">Giảm giá </dt>
                    <dd class="col-sm-4 text-center">@kh.MaLoaiKH</dd>
                    <dd class="col-sm-4 text-center">@{float giamgia = tien * (float)kh.LoaiKH.ChietKhau;} @String.Format("{0:0,0 vnđ}", giamgia)</dd>
                    <shadow><hr /></shadow>
                    <dt class="col-sm-4">TỔNG TIỀN</dt>
                    <dd class="col-sm-1 text-center"></dd>
                    <dd class="col-sm-7 text-right fw-bold" style="color: #2d4271; font-weight: 700; font-size: 20px;">@String.Format("{0:0,0 vnđ}", dh.TotalPrice)</dd>

                    @*<dt class="col-sm-12" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">Hình thức thanh toán</dt>*@
                    <dd class="col-sm-12 text-center">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <h2 class="accordion-header" id="headingOne">
                                    <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne" role="tabpanel">
                                        Hình thức thanh toán:
                                        @{
                                            if (dh.HinhThucThanhToan == true)
                                            {
                                                <span>CHUYỂN KHOẢN</span>
                                            }
                                            else
                                            {
                                                <span>TIỀN MẶT</span>
                                            }
                                        }
                                    </button>
                                </h2>
                                <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        @{
                                            if (dh.HinhThucThanhToan == true)
                                            {
                                                <p>
                                                    Quý khách sau khi thực hiện việc chuyển khoản vui lòng gửi email đến contactcentersgt@gmail.com hoặc gọi tổng đài 19001234 để được xác nhận từ công ty chúng tôi.
                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    Quý khách vui lòng thanh toán tại bất kỳ văn phòng SaiGon Travel trên toàn quốc hoặc các chi nhánh tại Thành phố Hồ Chí Minh.
                                                </p>
                                            }
                                        }
                                        @*<a href="~/Guest/LienHeGuest">Xem chi tiết.</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
                <div class="d-flex justify-content-between">
                    <div>
                        <form method="post" action="@Url.Action("HuyVe", "Guest", new { id = maDH })">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Hủy vé</button>
                        </form>
                    </div>
                    <div>
                        @{
                            if (dh.HinhThucThanhToan == true)
                            {

                                <form method="post" action="@Url.Action("Payment", "Guest", new { id = maDH })">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-success">Thanh toán ngay</button>
                                </form>
                            }
                            else
                            {
                                //thanh toán tại văn phòng
                                <form method="post" action="@Url.Action("PaymentTM", "Guest", new { id = maDH })">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-success">Thanh toán ngay</button>
                                </form>
                            }
                        }

                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset class="col-sm-12 border rounded-3 p-3">
                <legend class="float-none w-auto px-3 text-muted">THÔNG TIN HÀNH KHÁCH THAM GIA TOUR</legend>
                <h3>Vé người lớn</h3>
                @{ int tt = 1;
                    foreach (var item in ve)
                    {
                        if (item.MaLVe == "TICKET01")
                        {
                                <dl class="row" id="example1">
                                        <dt class="col-sm-3">Hành khách @tt: </dt>
                                        <dd class="col-sm-5">
                                            <p>@item.Hoten_KH</p>
                                        </dd>
                                        <dt class="col-sm-2">Giới tính:</dt>
                                        <dd class="col-sm-2">
                                            <p>@item.GioiTinh</p>
                                        </dd>
                                        <dt class="col-sm-3">Ngày sinh:</dt>
                                        <dd class="col-sm-5">
                                            @{var ns = String.Format("{0:d/M/yyyy}", item.NgaySinh); }
                                            <p>@ns</p>
                                        </dd>
                                        <dt class="col-sm-2">Lưu ý:</dt>
                                        <dd class="col-sm-2">
                                            <p>@item.LuuY</p>
                                        </dd>
                                </dl>
                                
                            tt++;
                        }

                    }
                }

                <h3>Vé trẻ em</h3>
                @{ int ttt = 1;
                    foreach (var item in ve)
                    {
                        if (item.MaLVe == "TICKET02")
                        {
                                <dl class="row" id="example2">
                                    <dt class="col-sm-3">Hành khách @ttt: </dt>
                                    <dd class="col-sm-5">
                                        <p>@item.Hoten_KH</p>
                                    </dd>
                                    <dt class="col-sm-2">Giới tính:</dt>
                                    <dd class="col-sm-2">
                                        <p>@item.GioiTinh</p>
                                    </dd>
                                    <dt class="col-sm-3">Ngày sinh:</dt>
                                    <dd class="col-sm-5">
                                        @{var ns = String.Format("{0:d/M/yyyy}", item.NgaySinh); }
                                        <p>@ns</p>
                                    </dd>
                                    <dt class="col-sm-2">Lưu ý:</dt>
                                    <dd class="col-sm-2">
                                        <p>@item.LuuY</p>
                                    </dd>
                                </dl>
                            ttt++;
                        }

                    }
                }
            </fieldset>
        </div>
    </div>

</div>


