
@model Tourist_VietripInsum_2023.Models.Tour
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "Tourinfomation";
    Layout = "~/Views/Guest/ViewGuest/Guest.cshtml";
    TouristEntities1 db = new TouristEntities1();

}
<link href="~/Content/Guest/DetailTours.css" rel="stylesheet" />

<div class="detailtour col-sm-12">
    
        <section class="content-1">
            <div class="container">
                <div class="row">
                    <div class="nametour col-sm-6">
                        @{
                            var tien = string.Format("{0:#,##0}", Model.GiaNguoiLon);
                            var tiente= string.Format("{0:#,##0}", Model.GiaTreEm);
                            var loaitour = db.LoaiTours.Where(s => s.MaLTour == Model.MaLTour).FirstOrDefault();
                            var pricesale = (double)Model.GiaNguoiLon * (1 - loaitour.ChietKhau);
                            var tiengiamgia = string.Format("{0:#,##0}", pricesale);
                            var ck = loaitour.ChietKhau * 100;

                        }
                        <div class="warp-mark">
                            <i class="fal fa-ticket"></i>
                            <label>@Model.MaTour</label>
                        </div>

                        <h1 class="title-tour">
                            @Model.TenTour
                        </h1>
                    </div>
                    <div class="ordertour col-sm-6 ">
                        <div class="group-price">
                            <div class="or-price">
                                <span>
                                    Giá
                                    <span class="tour-itemprice">@tien ₫</span>/ khách
                                </span>
                            </div>
                            <div class="sale-price">
                                <p><span class="price">@tiengiamgia ₫</span>/ khách</p>
                            </div>
                            <div class="saving">
                            </div>
                        </div>
                        <div class="group-add-cart ">
                            <a href="#" class="add-to-cart pull-right " onclick="" data-toggle="modal" data-target="#selectOptionTour">
                                <i class="fas fa-shopping-cart"></i>
                                <label>Đặt ngay</label>
                            </a>
                            <a href="#" class="add-to-group pull-right" data-bs-toggle="modal" data-bs-target="#supportModal">
                                <label>Liên hệ tư vấn</label>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            

        </section>

        @*HINH*@
        <section class="content-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 left">
                        <div class="image">
                            <img src="https://media.travel.com.vn/tour/tfd_220527123613_914620.jpg" class="img-fluid" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 right">
                        <div class="row gy-4">
                            <div class="col-md-12 col-sm-12 small">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="image">
                                            <img src="https://media.travel.com.vn/tour/tfd_220527123721_641637.jpg" class="img-fluid" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="image">
                                            <img src="https://media.travel.com.vn/tour/tfd_220527123931_878516.jpg" class="img-fluid" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 big">
                                <div class="image">
                                    <img src="https://media.travel.com.vn/tour/tfd_220527124128_772220.jpg" class="img-fluid" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>




        <!-- THONG TIN -->
        <div class="tab-panels">

            <!-- SECTION3 -->
            <section class="section-03 mb-5">
                <div class="container">
                    <div class="row">
                        <div class="mota-left col-md-5 col-12">
                            <div class="box-code d-lg-none">
                                <div class="d-flex flex-column">
                                    <span>Mã tour:</span>
                                    <span class="fw-bold">@Model.MaTour</span>
                                </div>
                                <i class="icon icon--ticket"></i>
                            </div>
                            @{
                                DateTime ngaydi = (DateTime)Model.NgayKhoihanh;
                                TimeSpan aInterval = new System.TimeSpan(0, 1, 1, 0);
                                DateTime newTime = ngaydi.Subtract(aInterval);
                                var ngaykhoihanh_1 = String.Format("{0:g}", ngaydi);
                            }
                            <div class="box-order">
                                <div class="time">
                                    <p>Khởi hành: <b>@ngaykhoihanh_1</b></p>
                                    <p>Tập trung: <b>@newTime</b></p>
                                    <p>Thời gian: <b>@Model.SoNgay ngày</b></p>
                                    <p>Nơi khởi hành: <b>@Model.NoiKhoiHanh</b></p>
                                    <p>
                                        Số chỗ còn nhận: <b>4</b>
                                    </p>
                                </div>
                                <div class="calendar">
                                    <div class="calendar-box">
                                        <i class="icon icon--calendar"></i>
                                        <label><a href="#"> Ngày khác</a></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="mota-right col-md-7 col-12 ">
                            <div class="group-services">
                                <div class="item">
                                    <i class="fas fa-flag"></i>
                                    <label>Thời gian</label>
                                    <p>@Model.SoNgay Ngày</p>
                                </div>
                                @{
                                    var diadiem = db.ChiTietTours.Where(s => s.MaTour == Model.MaTour).ToList();

                                    var diemthamquan = 0;

                                    foreach (var item in diadiem)
                                    {
                                        if (item.MaTour == Model.MaTour)
                                        {
                                            diemthamquan++;


                                        }
                                    }
                                }
                                <div class="item">
                                    <i class="fas fa-bus"></i>
                                    <label>Phương tiện di chuyển</label>
                                    <p>
                                        @diemthamquan
                                    </p>
                                </div>

                                <div class="item">
                                    <i class="fas fa-map"></i>
                                    <label>Điểm tham quan</label>
                                    <p>
                                        @diemthamquan
                                    </p>
                                </div>
                                <div class="item">
                                    <i class="fas fa-fire-alt"></i>
                                    <label>Ẩm thực</label>
                                    <p>Theo thực đơn</p>
                                </div>
                                <div class="item">
                                    <i class="fas fa-hotel"></i>
                                    <label>Khách sạn</label>
                                    <p>Khách sạn 4 sao</p>
                                </div>
                                <div class="item">
                                    <i class="fas fa-search"></i>
                                    <label>Ưu đãi</label>
                                    <p>đã ưu đãi trong giá tour</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </section>
            <div class="mota-tour">
                <div class="container">
                    <p class="tour-des s-title-03 ">

                        @Model.GioiThieu
                    </p>
                </div>
                
            </div>

            <!-- SECTION 4 -->
            <div class="map-route">

                <!-- SECTION 5 -->
                <section class="section-05 ">
                    <div class="container">
                        <h2 class=" lichtrinh">LỊCH TRÌNH</h2>
                        <div class="row">
                            <div class="lotrinh-left col-md-4 col-12 ">
                                <div class="go-tour">
                                    @foreach (var ct in diadiem)
                                    {

                                        <div class="day">
                                            <div class="wrapper">
                                                <span class="date-left"> Ngày  </span>
                                                <span class="date-center active">@ct.STT</span>
                                                @{

                                                    DateTime ttdate = (DateTime)ngaydi.AddDays(ct.STT);

                                                }
                                                <span class="date-right">
                                                    <span class="date">@ttdate</span>
                                                    <span class="location">@ct.TieuDe</span>
                                                </span>
                                            </div>
                                        </div>
                                    }

                                    @*<div class="day day-02">
                                    <div class="wrapper">
                                        <span class="date-left"> Ngày </span>
                                        <span class="date-center active">2</span>
                                        <span class="date-right">
                                            <span class="date">23/03/2023</span>
                                            <span class="location">HUẾ - ĐỘNG PHONG NHA &amp; THIÊN ĐƯỜNG – QUẢNG BÌNH Số bữa ăn: 03 (Ăn sáng, trưa, chiều)</span>
                                        </span>
                                    </div>
                                </div>*@
                                </div>

                            </div>
                            <div class="lotrinh-right col-md-8 col-12 right ">
                                <div>
                                    @foreach (var dt in diadiem)
                                    {
                                        <h3 id="day-01">Ngày @dt.STT- @dt.TieuDe</h3>
                                        <div class="excerpt">
                                            <span class="line"></span>
                                            <title></title>
                                            <p style="text-align:justify">

                                                @dt.MotaChitiet
                                                <br>
                                                @*strong>Nghỉ đêm tại Huế.</strong>*@
                                            </p>
                                        </div>
                                        <div class="group-services hashCode d-none">
                                            @*<div class="item">
                                            <i class="icon icon--calendar"></i>
                                            <label>Khách sạn</label>
                                            <p>VinOasis Phú Quốc</p>
                                        </div>*@
                                            <div class="item">
                                                <i class="icon icon--fire"></i>
                                                <label>Bữa ăn</label>
                                                <p>1 bửa trưa, 1 bửa tối.</p>
                                            </div>
                                            <div class="item">
                                                <i class="icon icon--map"></i>
                                                <label>Điểm tham quan</label>
                                                <p>1 địa điểm</p>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div>

                                    <strong style="text-align: center;padding-left:10px;">***KẾT THÚC CHƯƠNG TRÌNH – TẠM BIỆT QUÝ KHÁCH***</strong>
                                    </p>

                                    <h2 style="text-align:justify;padding-left: 10px;"><span style="color:#e74c3c"><strong>Lưu ý:</strong></span></h2>
                                    <ul>
                                        <li style="text-align:justify">Việc điều chỉnh yêu cầu xét nghiệm covid và mũi tiêm có thể sẽ thay đổi theo quy định hiện hành của Cơ quan Quản lý Nhà nước có thẩm quyền. Vui lòng liên hệ nhân viên tư vấn để biết thêm chi tiết.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>
                <!-- SECTION6 -->
                <section class="section-06 mb-5">
                    <div class="container">
                        <div class="pricetourdetail">
                            <h2>GIÁ TOUR &amp; PHỤ THU</h2>
                            <div class="table-price">
                                <table class="table" style="background-color: #f9f9f9; padding:10px;">
                                    <thead style="background-color: #f9f9f9;">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Loại khách</th>
                                            <th scope="col">Giá tour</th>
                                            <th scope="col">Giá giảm giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Người lớn (Từ 12 tuổi trở lên)</td>
                                            <td>@tien đ</td>
                                            <td>7,790,000 đ</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Trẻ em (Từ 5 - 11 tuổi)</td>
                                            <td>@tiente đ</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Trẻ nhỏ (Từ 2 - 4 tuổi)</td>
                                            <td>3,000,000 đ</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Em bé ( Dưới 2 tuổi )</td>
                                            <td>0đ</td>
                                            <td>0đ</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Phụ thu phòng đơn</td>
                                            <td>0đ</td>
                                            <td>0đ</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    


                </section>

            </div>



        </div>



        <div class="note-info">
            <!-- SECTION7 -->
            <section class="section-07">
                <div class="container">
                    <div class="row">
                        <h2>NHỮNG THÔNG TIN CẦN LƯU </h2>
                        <div class="col-md-6 col-12 left">
                            <div class="faqs">
                                <div class="acr">
                                    <span>
                                        <button class="accordion">Giá tour bao gồm ?  </button>
                                        <div class="panel">
                                            -	Xe tham quan (15, 25, 35, 45 chỗ tùy theo số lượng khách) theo chương trình
                                            <br>-	Vé máy bay khứ hồi SGN - HUI/DAD – SGN
                                            <br>-	Hành lý: 20 kg ký gửi + 7 kg xách tay/khách <br>-	Khách sạn theo tiêu chuẩn 2 khách/phòng hoặc 3 khách/phòng. <br>-	Các bữa ăn theo chương trình <br>-	Vé tham quan theo chương trình. <br>-	Hướng dẫn viên tiếng Việt nối tuyến
                                            <br>-	Bảo hiểm du lịch với mức bồi thường cao nhất 120.000.000đ/vụ.
                                            <br>-	Nón + Nước suối + Khăn lạnh. <br>-	Thuế VAT. <br>
                                        </div>
                                    </span>
                                </div>
                                <div class="acr">
                                    <span>
                                        <button class="accordion">Giá tour không bao gồm ?  </button>
                                        <div class="panel">
                                            -	Chi phí tham quan ngoài chương trình : Vé các dịch vụ ngoài chương trình <br>- Chi phí cá nhân: giặt ủi, chi phí hủy đổi hành trình và nâng hạng chuyến bay, hành lý quá cước, phụ thu phòng đơn,…
                                        </div>
                                    </span>
                                </div>
                                <div class="acr">
                                    <span>
                                        <button class="accordion">Giá vé trẻ em  </button>
                                        <div class="panel">
                                            -	Trẻ em dưới 5 tuổi: không thu phí dịch vụ, bố mẹ tự lo cho bé và thanh toán các chi phí phát sinh (đối với các dịch vụ tính phí theo chiều cao…). Hai người lớn chỉ được kèm 1 trẻ em dưới 5 tuổi, trẻ em thứ 2 sẽ đóng phí theo quy định dành cho độ tuổi từ 5 đến dưới 12 tuổi và phụ thu phòng đơn. Vé máy bay, tàu hỏa, phương tiện vận chuyển công cộng mua vé theo quy định của các đơn vị vận chuyển.
                                            <br>-	Trẻ em từ 5 tuổi đến dưới 12 tuổi: Hai người lớn chỉ được kèm 1 trẻ em từ 5 - dưới 12 tuổi, em thứ hai trở lên phải mua 1 suất giường đơn.
                                            <br>-	Trẻ em từ 12 tuổi trở lên: mua một vé như người lớn
                                            <br>
                                        </div>
                                    </span>
                                </div>
                                <div class="acr">
                                    <span>
                                        <button class="accordion">Điều kiện thanh toán  </button>
                                        <div class="panel">
                                            -	Khi đăng ký đặt cọc 50% số tiền tour. <br>-	Thanh toán hết trước ngày khởi hành 7-10 ngày (tour ngày thường), 20-25 ngày (tour lễ tết). <br>
                                        </div>
                                    </span>

                                </div>
                                <div class="acr">
                                    <span>
                                        <button class="accordion">Các điều kiện khi đăng ký tour</button>
                                        <div class="panel">
                                            -	Khi đăng ký vui lòng cung cấp giấy tờ tùy thân tất cả người đi: Chứng minh nhân dân/Hộ chiếu (Passport)/Giấy khai sinh (trẻ em dưới 14 tuổi). Trong trường hợp đăng ký trực tuyến qua www.travel.com.vn vui lòng nhập tên chính xác theo thứ tự: Họ/tên lót/tên xuất vé máy bay. Quý khách khi đăng ký cung cấp tên theo giấy tờ tùy thân nào, khi đi tour mang theo giấy tờ tùy thân đó. <br>-	Quy định giấy tờ tùy thân khi đi tour : <br>Khách quốc tịch Việt Nam: Trẻ em dưới 14 tuổi Giấy khai sinh bản chính/Hộ chiếu bản chính còn giá trị sử dụng. Trẻ em từ 14 tuổi trở lên và Người lớn CMND/ Hộ chiếu bản chính còn giá trị sử dụng. Lưu ý trẻ em trên 14 tuổi bắt buộc phải có CMND/Hộ chiếu làm thủ tục lên máy bay hoặc Giấy xác nhận nhân thân theo mẫu quy định và chỉ có giá trị trong vòng 30 ngày kể từ ngày xác nhận. <br>Khách quốc tịch nước ngoài hoặc là Việt kiều: Khi đi tour vui lòng mang theo hộ chiếu bản chính (Passport) hoặc thẻ xanh kèm thị thực nhập cảnh (visa dán vào hộ chiếu hoặc tờ rời hoặc cuốn miễn thị thực, các loại giấy tờ này phải có dấu nhập cảnh Việt Nam và còn giá trị sử dụng theo quy định khi đi tour).
                                            <br>-	Thông tin tập trung: Tại sân bay Tân Sơn Nhất, Ga đi trong nước, trước giờ bay 2 tiếng (áp dụng ngày thường), trước 2 tiếng 30 phút (áp dụng lễ tết). Trong trường hợp bay hãng hàng không Vietjet cột 5, trong trường hợp bay hãng hàng không Vietnam, Jetstar cột 12 Quầy Vietravel <br>-	Thông tin hành lý khi đi tour, xách tay dưới 7kg/1khách - kích thước không quá: 56cm x 36cm x 23 cm, chất lỏng với thể tích không quá 100ml. Ký gửi 20kg/1khách - kích thước không quá: 119cm x 119cm x 81cm. Các vật phẩm không được chấp nhận dưới dạng hành lý ký gởi hoặc vận chuyển trong hành lý theo quy định hàng không <br>-	Trong trường hợp Quý khách cung cấp tên sai, đến trễ giờ bay, vui lòng thanh toán phí đổi vé hoặc mua lại vé mới theo quy định của Hãng Hàng Không (nếu chuyến bay còn chỗ). <br>-	Trong trường hợp Quý khách bay hãng hàng không Vietnam, Jetstar, Vietjet. Vé máy bay khuyến mãi không hoàn, không đổi, hủy, sai tên mất 100%. Vé Vietnam, Jetstar không bay chặng đi, tự động hủy chặng về. <br>-	Do các chuyến bay phụ thuộc vào các hãng Hàng Không (Vietnam, Vietjet, Jetstar,..) nên trong một số trường hợp giá vé, chuyến bay, giờ bay có thể thay đổi mà không được báo trước. Tùy vào tình hình thực tế, chương trình và điểm tham quan có thể linh động thay đổi thứ tự các điểm phù hợp điều kiện giờ bay và thời tiết thực tế. Vietravel sẽ không chịu trách nhiệm bảo đảm các điểm tham quan trong trường hợp:
                                            <br>+ Xảy ra thiên tai: bão lụt, hạn hán, động đất…
                                            <br>+ Sự cố về an ninh: khủng bố, biểu tình
                                            <br>+ Sự cố về hàng không: trục trặc kỹ thuật, an ninh, dời, hủy, hoãn chuyến bay.
                                            <br>Nếu những trường hợp trên xảy ra, Vietravel sẽ xem xét để hoàn trả chi phí không tham quan cho khách trong điều kiện có thể (sau khi đã trừ lại các dịch vụ đã thực hiện….và không chịu trách nhiệm bồi thường thêm bất kỳ chi phí nào khác).
                                            <br>-	Sau khi Quý khách đã làm thủ tục Hàng Không và nhận thẻ lên máy bay, đề nghị Quý khách giữ cẩn thận và lưu ý lên máy bay đúng giờ. Vietravel không chịu trách nhiệm trong trường hợp khách làm mất thẻ lên máy bay và không lên máy bay đúng theo giờ quy định của Hàng Không.
                                            <br>-	Giờ nhận phòng &amp; trả phòng theo quy định khách sạn, nhận sau 14:00 giờ và trả trước 12:00 giờ.
                                            <br>-	Phòng khách sạn/resort có thể xảy ra trường hợp phòng không gần nhau, không cùng tầng, loại phòng một giường đôi hoặc hai giường đơn không theo yêu cầu, tùy tình hình thực tế từng khách sạn/Resort. <br>- <br>Trường hợp quý khách tham gia tour 01 khách, bắt buộc đóng thêm tiền phụ thu phòng đơn để ở riêng 01 phòng. Trường hợp trong đoàn cũng có khách đi 01 mình, cùng giới tính và có nhu cầu muốn ghép cùng phòng với quý khách thì Vietravel sẽ hoàn lại tiền phụ thu phòng đơn cho quý khách.
                                            <br>-	Trường hợp quý khách đi nhóm 03 khách, Vietravel sẽ cung cấp 01 phòng dành cho 03 khách là 01 giường lớn 1m6 và 01 giường phụ di động từ 0.8 - 1,2m (extrabed). Trong trường hợp quý khách có nhu cầu ở riêng, vui lòng đóng thêm tiền phụ thu phòng đơn theo quy định. <br>-	Trong trường hợp Quý khách có yêu cầu nâng chuẩn loại phòng cao cấp hơn vui lòng liên hệ phụ trách tuyến &amp; thanh toán chí phát sinh tùy hạng phòng yêu cầu (nếu có). <br>-	Đối với các chương trình tham quan biển đảo, trong trường hợp Quý khách không khỏe, có tiền sử bệnh hoặc có chất kích thích trong người (rượu, bia…) thì không nên tắm &amp; lặn biển để đảm bảo sự an toàn.
                                            <br>-	Cam kết đã được tư vấn hiểu rõ và đồng ý các quy định liên quan về điều kiện sức khỏe khi tham gia chương trình du lịch. Khách nữ từ 55 tuổi trở lên và khách nam từ 60 trở lên: nên có người thân dưới 55 tuổi (đầy đủ sức khỏe) đi cùng. Riêng khách từ 70 tuổi trở lên: Bắt buộc phải có người thân dưới 55 tuổi (đầy đủ sức khỏe) đi cùng. Hạn chế nhận khách từ 80 tuổi trở lên. Khách từ 80 tuổi không có chế độ bảo hiểm. Quý khách mang thai vui lòng báo cho nhân viên bán tour ngay tại thời điểm đăng ký. Phải có ý kiến của bác sĩ trước khi đi tour, tự chịu trách nhiệm về sức khỏe của mình và thai nhi trong suốt thời gian tham gia chương trình du lịch. Khi đi tour phải mang theo sổ khám thai và giấy tờ tùy thân theo quy định hãng hàng không. Tuần thai từ 28 tuần trở đi phải mang theo giấy khám thai trong vòng 7 ngày trở lại. Cam kết bản thân và người thân hoàn toàn có đủ sức khỏe để đi du lịch theo chương trình. Đồng ý miễn trừ toàn bộ trách nhiệm pháp lý, không khiếu nại, không yêu cầu bồi thường đối với Vietravel nói chung và nhân viên Vietravel nói riêng về tất cả các vấn đề xảy ra liên quan đến tình trạng sức khỏe của khách hàng khi tham gia tour hoặc sử dụng các dịch vụ do Vietravel cung cấp. Quý khách cam kết tự chịu mọi chi phí phát sinh ngoài chương trình tour liên quan đến việc giải quyết các rủi ro về sức khỏe (lưu trú, vận chuyển, chi phí khám chữa bệnh...) – ngoại trừ các chi phí thuộc hạng mục bảo hiểm sẽ do Công ty Bảo hiểm hoàn trả theo quy định.
                                            <br>-	Quý khách có nhu cầu cần xuất hóa đơn vui lòng cung cấp thông tin xuất hóa đơn cho nhân viên bán tour khi ngay khi đăng ký hoặc trước khi thanh toán hết, không nhận xuất hóa đơn sau khi tour đã kết thúc. <br>-	Quý khách vui lòng đọc kỹ chương trình, giá tour, các khoản bao gồm cũng như không bao gồm trong chương trình, các điều kiện hủy tour trên biên nhận đóng tiền. Tùy thời điểm đăng ký, kênh bán, giá tour có thể thay đổi. Trong trường hợp Quý khách không trực tiếp đến đăng ký tour mà do người khác đến đăng ký thì Quý khách vui lòng tìm hiểu kỹ chương trình từ người đăng ký cho mình. <br>
                                        </div>
                                    </span>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-12 right">
                            <div class="faqs">
                                <div class="acr">
                                    <span>
                                        <button class="accordion">Lưu ý khi chuyển/hủy tour</button>
                                        <div class="panel">
                                            Sau khi thanh toán tiền, nếu Quý khách muốn chuyển/hủy tour xin vui lòng mang Vé Du Lịch đến văn phòng đăng ký tour để làm thủ tục chuyển/hủy tour và chịu chi phí theo quy định của Vietravel. Không giải quyết các trường hợp liên hệ chuyển/hủy tour qua điện thoại.

                                        </div>
                                    </span>
                                </div>
                                <div class="acr">
                                    <span>
                                        <button class="accordion">Các điều kiện hủy tour đối với ngày thường</button>
                                        <div class="panel">
                                            - Được chuyển sang các tuyến du lịch khác trước ngày khởi hành 20 ngày : Không mất chi phí.
                                            <br>- Nếu hủy hoặc chuyển sang các chuyến du lịch khác ngay sau khi đăng ký đến từ 15-19 ngày trước ngày khởi hành: Chi phí hủy tour: 50% tiền cọc tour.
                                            <br>- Nếu hủy hoặc chuyển sang các chuyến du lịch khác từ 12-14 ngày trước ngày khởi hành: Chi phí hủy tour: 100% tiền cọc tour.
                                            <br>- Nếu hủy chuyến du lịch trong vòng từ 08-11 ngày trước ngày khởi hành: Chi phí hủy tour: 50% trên giá tour du lịch.
                                            <br>- Nếu hủy chuyến du lịch trong vòng từ 05-07 ngày trước ngày khởi hành: Chi phí hủy tour: 70% trên giá tour du lịch.
                                            <br>- Nếu hủy chuyến du lịch trong vòng từ 02-04 ngày trước ngày khởi hành: Chi phí hủy tour: 90% trên giá vé du lịch.
                                            <br>- Nếu hủy chuyến du lịch trong vòng 1 ngày trước ngày khởi hành : Chi phí hủy tour: 100% trên giá vé du lịch.
                                            <br>

                                        </div>
                                    </span>
                                </div>
                                <div class="acr">
                                    <span>
                                        <button class="accordion"> Các điều kiện hủy tour đối với ngày lễ, Tết</button>
                                        <div class="panel">
                                            <p>
                                                Áp dụng cho các tour có thời gian
                                                diễn ra rơi vào một trong các ngày Lễ, Tết theo qui định
                                            </p>
                                            - Được chuyển sang các tuyến du lịch khác trước ngày khởi hành 30 ngày : Không mất chi phí.
                                            <br>- Nếu hủy hoặc chuyển sang các chuyến khác ngay sau khi đăng ký đến từ 25-29 ngày trước ngày khởi hành: Chi phí hủy tour: 50% tiền cọc tour.
                                            <br>-	Nếu hủy hoặc chuyển sang các chuyến khác từ 20-24 ngày trước ngày khởi hành: Chi phí hủy tour: 100% tiền cọc tour.
                                            <br>- Nếu hủy chuyến du lịch trong vòng từ 17-19 ngày trước ngày khởi hành: Chi phí hủy tour: 50% trên giá tour du lịch.
                                            <br>- Nếu hủy chuyến du lịch trong vòng từ 08-16 ngày trước ngày khởi hành: Chi phí hủy tour: 70% trên giá tour du lịch.
                                            <br>- Nếu hủy chuyến du lịch trong vòng từ 02-07 ngày trước ngày khởi hành: Chi phí hủy tour: 90% trên giá vé du lịch.
                                            <br>- Nếu hủy chuyến du lịch trong vòng 1 ngày trước ngày khởi hành : Chi phí hủy tour: 100% trên giá vé du lịch.
                                            <br>Các tour Lễ, Tết là tour có thời gian diễn ra rơi vào một trong các ngày Lễ, Tết theo quy định <br>	Thời gian hủy được tính cho ngày làm việc, không tính thứ 7, Chủ Nhật và các ngày Lễ, Tết. <br>

                                        </div>
                                    </span>
                                </div>
                                <div class="acr">
                                    <span>
                                        <button class="accordion">Trường hợp bất khả kháng</button>
                                        <div class="panel">


                                        </div>
                                    </span>
                                </div>
                                <div class="acr">
                                    <span>
                                        <button class="accordion">Liên hệ</button>
                                        <div class="panel">
                                            <title></title>


                                            <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:10.0pt"><span style="color:#262626">Mọi chi tiết vui lòng liên hệ:</span></span></strong></span></span></p>
                                            <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:10.0pt"><span style="color:#262626">KHỐI KHÁCH LẺ - DU LỊCH TRONG NƯỚC</span></span></strong></span></span></p>
                                            <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:10.0pt"><span style="color:#262626">190 PASTEUR, PHƯỜNG VÕ THỊ SÁU , QUẬN 3, TP.HCM</span></span></span></span></p>
                                            <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:10.0pt"><span style="color:#262626">Điện thoại: (84-028) 3822 8898</span></span></span></span></p>
                                            <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:10.0pt"><span style="color:#262626">Tổng đài tư vấn </span></span><span style="font-size:10.0pt"><span style="color:#262626">1900 1839 từ 8:00 - 23:00</span></span></span></span></p>
                                            <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:10.0pt"><span style="color:#262626">Hotline: 0938 301 399</span></span></span></span></p>
                                            <p style="text-align:center"><strong><span style="font-size:15.0pt"><span style="color:#262626">VIETRAVEL </span></span><strong><span style="font-size:15.0pt"><span style="color:#262626">KÍNH CHÚC QUÝ KHÁCH MỘT CHUYẾN DU LỊCH VUI VẺ</span></span></strong></strong></p>

                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
             
            </section>
        </div>




    </div>


    


