@model Tourist_VietripInsum_2023.Models.BookTour
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "Hóa đơn";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.booking = "active";
    ViewBag.Name = "Hóa đơn";
    TouristEntities1 db = new TouristEntities1();
}
<div class="container-sm">
    <div class="row">
        <div class="col-md-12">
            <div class="tile" id="printMe">
                <table cellspacing="0" cellpadding="0" style="width:100%">
                    <tbody>
                        <tr>
                            <td colspan="8" style="vertical-align:top; font-size: 12pt; text-align: center">
                                <h3 style="margin-top:6pt; margin-bottom:6pt;">
                                    HÓA ĐƠN BÁN HÀNG
                                </h3>
                                <span>@Model.NgayLap</span>
                                <br />
                                <span><b>Mã:</b>@Model.MaDH</span>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-size: 12pt;padding:10px 40px">
                                <h5>THÔNG TIN CÔNG TY</h5>
                                <p style="margin:1pt 0;">
                                    <span><b>Tên người bán:</b> CÔNG TY TNHH LỮ HÀNH HKQ</span>
                                </p>
                                <p style="margin:1pt 0;">
                                    <span><b>Địa chỉ:</b> C24/7, đường Hai bà Trưng, Quận 3, Tp HCM</span>
                                </p>
                                <p style="margin:1pt 0;">
                                    <span><b>Số tài khoản: </b>1904378324947334 </span>
                                </p>
                                <p style="margin:1pt 0;">
                                    <span><b>Ngân hàng: </b>MB Bank - Ngân hàng Quân đội </span>
                                </p>
                                <p style="margin:1pt 0;">
                                    <span><b>Điện thoại:</b> +(83) 4567 7565 123</span>
                                </p>
                            </td>
                            @{
                                var kh = db.KhachHangs.FirstOrDefault(s => s.MaKH == Model.MaKH);
                            }
                            <td colspan="4" style="padding: 10px 40px; font-size: 12pt">
                                <h5>THÔNG TIN KHÁCH HÀNG</h5>
                                <p style="margin-top:1pt; margin-bottom:6pt">
                                    <span>
                                        <b>Họ tên khách hàng:</b> @kh.HoTenKH

                                    </span>
                                </p>
                                <p style="margin-top:1pt; margin-bottom:6pt;">
                                    <span><b>Số điện thoại :</b> @kh.SDT</span>
                                </p>
                                <p style="margin-top:1pt; margin-bottom:6pt;">
                                    <span><b>Địa chỉ :</b> @kh.DiaChi</span>
                                </p>
                                <p style="margin-top:1pt; margin-bottom:6pt; ">
                                    <span>
                                        <b>Hình thức thanh toán</b> @Model.HinhThucThanhToan
                                    </span>
                                </p>
                            </td>
                        </tr>
                        @{
                            var tour = db.Tours.FirstOrDefault(t => t.MaTour == Model.MaTour);
                            List<Ve> dsve = db.Ves.Where(s => s.MaDH == Model.MaDH).ToList();
                        }
                        <tr>
                            <td colspan="8" style="padding: 10px 40px; font-size: 12pt">
                                <H5>THÔNG TIN TOUR</H5>
                                <p style="margin-top:3pt; margin-bottom:6pt">
                                    <span>
                                        <b>Mã tour:</b> @tour.MaTour
                                    </span>
                                </p>
                                <p style="margin-top:3pt; margin-bottom:6pt;">
                                    <span><b>Tên tour du lịch :</b> @tour.TenTour</span>
                                </p>
                                <p style="margin-top:3pt; margin-bottom:6pt;">
                                    <span><b>Ngày khởi hành :</b> @tour.NgayKhoihanh - @tour.NoiKhoiHanh</span>
                                </p>
                                <p style="margin-top:3pt; margin-bottom:6pt; ">
                                    <span>
                                        <b>Ngày trở về: </b> @tour.NgayTroVe
                                    </span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:6%;">
                                <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                    <span><b>Mã vé</b></span>
                                </p>
                            </td>
                            <td style="width:32%p">
                                <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                    <b>Thông tin hành khách</b>
                                </p>
                            </td>
                            <td colspan="2">
                                <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                    <strong>Lưu ý</strong>
                                </p>
                            </td>
                            <td style="width:12%;">
                                <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                    <strong>Loại vé</strong>
                                </p>
                            </td>
                            <td style="width:24%;">
                                <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                    <strong>Thành tiền</strong>
                                </p>
                            </td>
                        </tr>
                        @foreach (var item in dsve)
                        {
                            <tr>
                                <td style="width:6%;">
                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                        @item.MaVe
                                    </p>
                                </td>
                                <td style="width:32%;">
                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                        @item.Hoten_KH - @item.GioiTinh
                                        <br />
                                        @item.NgaySinh
                                    </p>
                                </td>
                                <td colspan="2">
                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                        @item.LuuY
                                    </p>
                                </td>
                                <td style="width:12%;">
                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                        @item.MaLVe
                                    </p>
                                </td>

                                <td style="width:24%;">
                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:12pt">
                                        @{
                                            int? tien = 0;
                                            if (item.MaLVe == "TICKET01")
                                            {
                                                tien = tour.GiaNguoiLon;
                                            }
                                            else
                                            {
                                                tien = tour.GiaTreEm;
                                            }
                                            var tongTien = string.Format("{0:0,0 VNĐ}", tien);
                                        }
                                        @tongTien
                                    </p>
                                </td>
                            </tr>
                        }
                       
                        <tr>
                            <td colspan="5" style="padding:0px 20px">
                                <b>Tổng tiền</b>
                            </td>
                            <td colspan="3">
                                @Model.TotalPrice
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <p style="margin-top: 6pt; margin-bottom: 6pt; text-align: center; line-height: 12pt; font-family: 'Times New Roman'; font-size: 12pt">
                                    <span>Người mua hàng</span>
                                    <br>
                                    <span>Chữ ký số (nếu có)</span>
                                </p>
                                <p style="margin-top: 6pt; margin-bottom: 6pt; text-align: center; line-height: 12pt; font-family: 'Times New Roman'; font-size: 12pt">
                                    <span>&nbsp;</span>
                                </p>
                            </td>
                            <td colspan="5">
                                <p style="margin-top: 6pt; margin-bottom: 6pt; text-align: center; line-height: 12pt; font-family: 'Times New Roman'; font-size: 12pt">
                                    <span>Người bán hàng</span>
                                    <br>
                                    <span>(Chữ ký điện tử, Chữ ký số)</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                    </tbody>
                </table>



            </div>

        </div>
        <div class="row" style="padding-left:10px" id="btnin">
            <div class="col-sm-2">
                <a class="btn btn-warning btn-sm" href="/OrderProcessing/UpdateBooking/@Model.MaDH">Quay lại</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm " title="In" onclick="printDiv('printMe')">
                    <i class="fas fa-print"></i> In dữ liệu
                </a>
            </div>

        </div>
    </div>
</div>



            <script>
                function printDiv(divName) {


                    var printContents = document.getElementById(divName).innerHTML;
                    var originalContents = document.body.innerHTML;

                    document.getElementById("btnin").style.display = "none";


                    document.body.innerHTML = printContents;

                    window.print();

                    document.body.innerHTML = originalContents;
                }
            </script>
 