@model Tourist_VietripInsum_2023.Models.BookTour
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "BookTourDetail";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.Name = "Chi Tiết Đơn Đặt Tour";
    ViewBag.order = "active";

    TouristEntities1 db = new TouristEntities1();
    var listTickets = db.Ves.Where(s => s.MaDH == Model.MaDH).ToList();
}

@if (TempData["success"] != null)
{


    <script>
        swal({
            title: "Thay đổi trạng thái thành công",
            icon: "success",
            button: "Thoát",
        });
    </script>
}
else if (TempData["thongbao"] == "donhang1ve")
{

    <script>
        swal({
            title: "Đơn hàng chỉ còn một vé !!!",
            icon: "error",
            button: "Thoát",
        });
    </script>
}


<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <h3 class="tile-title" style="text-align: center;">CHI TIẾT ĐƠN ĐẶT TOUR @ViewBag.MaBT</h3>
            <div class="tile-body">
                <div style="text-align: center; font-size: 18px;">

                    <div class="form-group">
                        @{
                            var tour = db.Tours.Where(s => s.MaTour == Model.MaTour).FirstOrDefault();
                        }
                        <b>Tên Tour: </b> @Html.DisplayFor(model => tour.TenTour)
                    </div>
                  
                    <div class="form-group">
                        @{
                            var kh = db.KhachHangs.Where(s => s.MaKH == Model.MaKH).FirstOrDefault();
                        }
                        <b>Tên Khách Hàng: </b> @Html.DisplayFor(model => kh.HoTenKH)
                        <b style="margin-left: 15px;">Số điện thoại: </b> @Html.DisplayFor(model => model.SdtKH) <br />
                    </div>
                    <div class="form-group">
                        <b>Ngày đặt: </b>@Html.DisplayFor(model => model.NgayLap)
                    </div>
                    <div class="form-group">
                        <b style="margin-left: 15px;">Số chỗ: </b>@Html.DisplayFor(model => model.SoCho)
                        <b style="margin-left: 15px;">Tổng tiền: </b>@{ var tongTien = string.Format("{0:0,0}", Model.TotalPrice);}
                        @Html.DisplayFor(model => tongTien)
                    </div>
                    <div style="display: flex; margin-top: 10px; text-align: center; width: 500px; margin: auto;">
                        <strong>Tình trạng thanh toán: </strong>
                        @{ var tt = Model.TrangThaiTT;
                            string thanhtoans = "";
                            if (tt == true)
                            {
                                thanhtoans = "Đã thanh toán";
                            }
                            else
                            {
                                thanhtoans = "Chưa thanh toán";
                            }
                        }
                        <span id="demo">@thanhtoans</span>

                    </div>
                </div>

                <div class="element-button" style="margin-top: 20px;">
                    <table class="table">
                        <thead style="background-color: #ffd43b;">
                            <tr>
                                <th aria-controls="sampleTable">Mã vé</th>
                                <th aria-controls="sampleTable">Loại vé</th>
                                <th aria-controls="sampleTable">Họ và tên</th>
                                <th aria-controls="sampleTable">Giới tính</th>
                                <th aria-controls="sampleTable">Ngày sinh</th>
                                <th aria-controls="sampleTable">Lưu ý</th>
                                <th aria-controls="sampleTable">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (listTickets.Count() == 0)
                            {
                                <tr>
                                    <td colspan="9" class="text-center"> Records not found </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in listTickets)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaVe)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoaiVe.TenLVe)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Hoten_KH)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GioiTinh)
                                        </td>
                                        <td>
                                            @{ var ngaySinh = string.Format("{0:dd/MM/yyyy}", item.NgaySinh);}
                                            @Html.DisplayFor(modelItem => ngaySinh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LuuY)
                                        </td>
                                        <td style="text-align:center">
                                            <a href="/OrderProcessing/TicketEdit/@item.MaVe" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Cập nhật thông tin vé">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#DeleteTicket" ata-toggle="tooltip" title="Xóa vé">
                                                <i class="fas fa-remove"></i>
                                            </a>
                                            <div class="modal fade" id="DeleteTicket" tabindex="-1" role="dialog" aria-labelledby="DeleteTicket" aria-hidden="true">
                                                <div class="modal-dialog" role="document">

                                                    <div class="modal-content" style="padding:20px 10px">
                                                        <div class="modal-body">
                                                            <div class="hero-text">
                                                                @{
                                                                    var sn = String.Format("{0:d/M/yyyy}", item.NgaySinh);
                                                                }
                                                                <div class="form-horizontal" style="color: #2d4271;text-align:left">

                                                                    <h4 style="text-align:center"> XÁC NHẬN XÓA VÉ</h4>

                                                                    <p> <strong>Thông tin khách hàng đặt vé </strong>: @kh.HoTenKH - @Model.SdtKH</p>
                                                                    <p><strong>Thông tin vé:</strong></p>
                                                                    <div style="padding-left:10px">
                                                                        <p><strong>@item.MaVe</strong> thuộc đơn hàng <strong>@item.MaDH</strong> </p>
                                                                        <p>@item.Hoten_KH - @sn - @item.GioiTinh - @item.LuuY</p>
                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-secondary btn-sm" data-dismiss="modal">Close</a>
                                                            <a type="submit" value="Xóa" class="btn btn-danger btn-sm" href="/OrderProcessing/DeleteTicket/@item.MaVe">Xóa </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <a class="btn btn-warning btn-sm" href="/OrderProcessing/ManageTourOrders">Quay lại</a>
                    <button id="myButton" onclick="CheckTT()" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
                       Thêm vé
                    </button>
                    @*<input class="btn btn-success btn-sm" type="submit" value="Cập nhật" />*@
                    <a class="btn btn-outline-primary btn-sm" href="/OrderProcessing/Booking">Theo dõi tình trạng</a>
                </div>


            </div>
        </div>


    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("AddTicket", "OrderProcessing", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()


            <div class="modal-content">
                @{
                    var ve = db.Ves.FirstOrDefault();
                }
                <div class="modal-body" style="padding:20px 10px;">
                    @Html.HiddenFor(model => ve.MaDH)
                    @Html.HiddenFor(model => ve.MaVe)
                    <h4 style="text-align:center">THÊM VÉ</h4>
                    <input name="madh" value="@Model.MaDH" style="visibility:hidden" />
                    <div id="datve" style="padding:0px 10px;">

                    </div>

                    <div>
                        <button id="themve" onclick="ThemVe()" class="btn btn-success btn-sm">Thêm vé</button>
                        <button id="xoave" onclick="xoaVe()" class="btn btn-danger btn-sm">Xóa vé</button>
                    </div>

                </div>
                <input name="soluongdat" id="soluongdat" style="visibility:hidden" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
                    <input type="submit" value="Thêm vé" class="btn btn-success btn-sm" />
                </div>
            </div>
            <script>
                var i = 0;
                function ThemVe() {
                    if (i < 5) {
                        i++;
                        var row = ` <div class="ticket-info" id="nd` + i + `">` +

                            `<div class="row" id="ListInfoAdult">` +
                            `<div class="group-info-name col-md-7">` +
                            ` <span>Họ tên</span>` +
                            `<input class="form-control" name="Hoten_KH` + i + `" placeholder="Vui lòng nhập Họ tên" required="required" type="text" value="">` +
                            `</div>` +
                            `<div class="form-group col-md-5">` +
                            `<span>Loại vé</span>` +
                            ` <select class="form-control col-sm-12" id="MaLVe' + i + '" name="MaLVe` + i + `">` +
                            `<option value="">Chọn loại vé</option>` +
                            ` <option value="TICKET01">Vé người lớn</option>` +
                            `<option value="TICKET02">Vé trẻ em</option>` +
                            ` </select>` +
                            ` </div>` +
                            ` <div class="group-info-sex col-sm-7">` +
                            `<span>Giới tính</span>` +
                            `<select class="form-control col-sm-12" id="GioiTinh' + i +'" name="GioiTinh` + i + `">` +
                            `<option value="">Giới tính</option>` +
                            `<option value="Nam">Nam</option>` +
                            `<option value="Nữ">Nữ</option>` +
                            `</select>` +
                            `</div>` +
                            ` <div class="group-info-birthday col-sm-5">` +
                            `<span>Ngày sinh</span>` +

                            `<input class="form-control text-box single-line" required="required" name="NgaySinh` + i + `" id="NgaySinh' + i +'" placeholder="Vui lòng nhập chọn ngày sinh"type="date" value="">` +

                            `</div>` +
                            `<div class="group-info-note col-sm-12">` +
                            ` <span>Lưu ý</span>` +
                            `<input class="form-control" name="LuuY` + i + `" id="LuuY' + i +'" placeholder="Nhập lưu ý" type="text" value="">` +

                            `</div>` +
                            `<p>-----</p>` +

                            ` </div>` +
                            ` </div>` +
                            ` </div> `
                            ;

                        var div = document.getElementById("datve");
                        div.innerHTML += row;
                        document.getElementById("soluongdat").value = i;
                    };
                }
                function xoaVe() {
                    var element = document.getElementById("datve");
                    if (i > 0) {
                        document.getElementById('nd' + i).remove();
                        i--;

                    }
                    document.getElementById("soluongdat").value = i;

                }

            </script>


        }
    </div>
     
</div>
<input type="text" id="number" name="number" value="@thanhtoans" style="visibility:hidden"/>
<script>
    function CheckTT() {
        var inputValue = document.getElementById("number").value;
        if (inputValue == "Chưa thanh toán") {
            document.getElementById("myButton").disabled = false;
           
        }
        else {
            document.getElementById("myButton").disabled = true;
            alert("Đơn hàng đã thanh toán !!");
    
        }
        
    }
</script>