@model IEnumerable<Tourist_VietripInsum_2023.Models.BookTour>
@using Tourist_VietripInsum_2023.Models

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.booking = "active";
    ViewBag.Name = "Trang Theo Dõi Thanh Toán";
    TouristEntities1 db = new TouristEntities1();
}
@{
    string ktra = (string)TempData["bookingtour"];
  if (ktra == "deletebooking")
    {
        <script>
            swal({
                title: "Đơn hàng đã xóa thành công !!!",
                icon: "success",
                button: "Thoát",
            });
        </script>
    }
}
<style>
    .text_center_ {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>
<div class="tile">
    <div class="row text_center_">
        <div class="col-sm-6">
            <h5 class="text-secondary">QUẢN LÝ GIAO DỊCH THANH TOÁN VNPAY</h5>
            <p class="text-secondary">Dùng để theo dõi chuyển khoản qua ví điện tử VNPAY từ khách hàng</p>
            <p>Email: diemkhang1912@gmail.com</p>
            <p>Password: Dk1912@2002</p>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-outline-dark btn-lg" href="https://sandbox.vnpayment.vn/merchantv2/Users/Login.htm" target="_blank">
                <div class="text_center_" style="border-bottom:1px solid #FFC107; margin-bottom:5px"><i class='bx bx-card'></i></div>
                <span class="text_center_">Theo dõi ví VNPAY</span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <div class="tile-body">
                <h5 class="tile-title">DANH SÁCH ĐẶT VÉ</h5>

                <div class="row element-button" style="padding-left:10px">
                    <div class="row table-responsive">
                        <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                            <thead style="background-color: #ffd43b;">
                                <tr>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Mã DH</th>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Thông tin khách</th>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Mã tour</th>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Ngày đặt</th>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Hạn đặt</th>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Trạng thái</th>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Thanh toán</th>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Tổng tiền</th>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Số vé</th>
                                    <th aria-controls="sampleTable" rowspan="1" colspan="1">Tùy chọn</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="9" class="text-center">Không tìm thấy</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model)
                                    {
                                        var khach = db.KhachHangs.Where(s => s.MaKH == item.MaKH).FirstOrDefault();
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaDH)
                                </td>
                                <td>
                                    @khach.HoTenKH
                                    <br />
                                    @khach.SDT
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaTour)
                                </td>
                                <td>
                                    @item.NgayLap
                                </td>

                                @{ 
                                    DateTime ngaylap = (DateTime)item.NgayLap;
                                    DateTime ttdate = (DateTime)ngaylap.AddDays(1);
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => ttdate)
                                </td>
                                <td>
                                    @{
                                       
                                        DateTime aDatetime = DateTime.Now;
                                        TimeSpan interval = ngaylap.Subtract(aDatetime);


                                        if (interval.Days < 0)
                                        {
                                            <span class="badge badge-danger">Hết hạn</span>
                                        }
                                        else if (interval.Days >= 0 && interval.Days <= 1)
                                        {
                                            <span class="badge badge-warning">Sắp đến hạn</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success">Còn hạn</span>
                                        }

                                    }
                                </td>
                                <td>
                                    @{
                                        var TTTT = item.TrangThaiTT;
                                        if (TTTT == true)
                                        {
                                            <p>Đã thanh toán</p>
                                        }
                                        else
                                        {
                                            <p>Chưa thanh toán</p>
                                        }
                                    }
                                    @*@Html.DisplayFor(modelItem => item.TrangThaiTT)*@
                                </td>
                                <td>
                                    @{ var tongTien = string.Format("{0:0,0 VNĐ}", item.TotalPrice);}
                                    @Html.DisplayFor(modelItem => tongTien)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.SoCho)
                                </td>
                                <td>
                                    <a href="/OrderProcessing/UpdateBooking/@item.MaDH " class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Detail">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    @*<a href="/OrderProcessing/DeleteOrder/@item.MaDH" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Delete">
                <i class="fas fa-remove"></i>
            </a>*@
                                </td>
                            </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

