@model Tourist_VietripInsum_2023.Models.BookTour
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "BookTourDetail";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.Name = "Trang Chi Tiết Đơn Đặt Tour";
    ViewBag.order = "active";

    TouristEntities1 db = new TouristEntities1();
    var listTickets = db.Ves.Where(s => s.MaDH == Model.MaDH).ToList();
}

@if (TempData["success"] != null)
{
    <script>
        swal({
            title: "Thay đổi trạng thái thành công",
            icon: "success",
            button: "Thoát",
        });
    </script>
}

else if (TempData["thongbao"] == "donhang1ve")
{

    <script>
        swal({
            title: "Đơn hàng chỉ còn một vé !!!",
            icon: "error",
            button: "Thoát",
        });
    </script>
}
@{
    string noti = (string)TempData["ve"];
    if (noti == "xoave")
    {
        <script>
            swal({
                title: "Xóa vé thành công",
                icon: "success",
                button: "Thoát",
            });
        </script>
    }
    else if (noti == "themve")
    {
        <script>
            swal({
                title: "Thêm vé thành công",
                icon: "success",
                button: "Thoát",
            });
        </script>
    }

    else if (noti == "trong")
    {
        <script>
            swal({
                title: "Chưa có vé !!",
                icon: "error",
                button: "Thoát",
            });
        </script>
    }
}

<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <h3 class="tile-title" style="text-align: center;">CHI TIẾT ĐƠN ĐẶT TOUR @ViewBag.MaBT</h3>
            <div class="tile-body">
                <div style="font-size:14px">
                    @{
                        var kh = db.KhachHangs.Where(s => s.MaKH == Model.MaKH).FirstOrDefault();
                        var tour = db.Tours.Where(s => s.MaTour == Model.MaTour).FirstOrDefault();
                        var tt = Model.TrangThaiTT;
                        string thanhtoans = "";
                        if (tt == true)
                        {
                            thanhtoans = "Đã thanh toán";
                        }
                        else
                        {
                            thanhtoans = "Chưa thanh toán";
                        }
                        var hinhthuc = Model.HinhThucThanhToan;
                        string ht = "";
                        if (tt == true)
                        {
                            ht = "Chuyển khoản";
                        }
                        else
                        {
                            ht = "Tiền mặt";
                        }
                    }
                    <div class="info-cus">
                        <h6>THÔNG TIN KHÁCH HÀNG</h6>
                        <div class="form-group">
                            <b>Tên Khách Hàng: </b> @Html.DisplayFor(model => kh.HoTenKH)
                            <b style="margin-left: 15px;">Loại KH: </b> @Html.DisplayFor(model => kh.MaLoaiKH)
                            <br />
                            <b>Liên lạc: </b> @Html.DisplayFor(model => model.SdtKH) - @Html.DisplayFor(model => kh.Email)
                        </div>
                    </div>
                    <div class="info-booking">
                        <h6>THÔNG TIN BOOKING</h6>
                        <div class="form-group">
                            <b>Mã đơn hàng: </b>@Html.DisplayFor(model => model.MaDH)
                            <br />
                            <b>Thông tin tour: </b>@Html.DisplayFor(model => tour.TenTour) - @Html.DisplayFor(model => tour.MaTour)
                            <br />
                            <b>Ngày đặt: </b>@Html.DisplayFor(model => model.NgayLap)
                            <b style="margin-left: 15px;">Số chỗ đặt: </b> @Html.DisplayFor(model => model.SoCho)
                            <br />
                            <b>Tổng tiền: </b>@{ var tongTien = string.Format("{0:0,0}", Model.TotalPrice);}
                            @Html.DisplayFor(model => tongTien) vnd
                            <br />
                            <b span id="demo">Tình trạng thanh toán: </b>@thanhtoans
                            <br />
                            <b>Hình thức thanh toán: </b>@ht
                        </div>
                    </div>
                    <h6>THÔNG TIN VÉ</h6>
                </div>

                <div class="element-button" style="margin-top: 20px;">
                    <table class="table">
                        <thead style="background-color: #ffd43b;">
                            <tr>
                                <th aria-controls="sampleTable">Mã vé</th>
                                <th aria-controls="sampleTable">Loại vé</th>
                                <th aria-controls="sampleTable">Họ và tên</th>
                                <th aria-controls="sampleTable">Giới tính</th>
                                <th aria-controls="sampleTable">Ngày sinh</th>
                                <th aria-controls="sampleTable">Lưu ý</th>
                                <th aria-controls="sampleTable">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (listTickets.Count() == 0)
                            {
                                <tr>
                                    <td colspan="9" class="text-center"> Không tìm thấy </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in listTickets)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaVe)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoaiVe.TenLVe)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Hoten_KH)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GioiTinh)
                                        </td>
                                        <td>
                                            @{ var ngaySinh = string.Format("{0:dd/MM/yyyy}", item.NgaySinh);}
                                            @Html.DisplayFor(modelItem => ngaySinh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LuuY)
                                        </td>
                                        <td style="text-align:center">
                                            <a href="/OrderProcessing/TicketEdit/@item.MaVe" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Cập nhật thông tin vé">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            @*@if (Model.TrangThaiTT == false)
                                                {
                                                    <a class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#DeleteTicket" ata-toggle="tooltip" title="Xóa vé">
                                                        <i class="fas fa-remove"></i>
                                                    </a>
                                                }*@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <a class="btn btn-warning btn-sm" href="/OrderProcessing/ManageTourOrders">Quay lại</a>
                    <button id="myButton" onclick="CheckTT()" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
                        Thêm vé
                    </button>
                    @*<input class="btn btn-success btn-sm" type="submit" value="Cập nhật" />*@
                    <a class="btn btn-outline-primary btn-sm" href="/OrderProcessing/Booking">Theo dõi tình trạng</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:20px 10px;">
            <h4 style="text-align: center; color: #2d4271">THÊM VÉ</h4>
            <div class="col-sm-12 element-button">
                <button id="themve" onclick="ThemVe()" class="btn btn-outline-primary btn-sm">
                    <icon class="fas fa-ticket-alt" style="margin-right:5px"></icon> Thêm vé
                </button>

                <button id="xoave" onclick="xoaVe()" class="btn btn-outline-danger btn-sm">
                    <icon class="fas fa-trash"></icon>
                </button>
                <b style="margin-left:35px;font-size:16px;">Số chổ còn trống: </b>@tour.SoChoNull
                <input type="text" id="sc" name="sc" value="@tour.SoChoNull" style="visibility:hidden" />
            </div>

            @using (Html.BeginForm("AddTicket", "OrderProcessing", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div>
                    <div class="modal-body">
                        @{
                            var ve = db.Ves.FirstOrDefault();
                        }
                        @Html.HiddenFor(model => ve.MaDH)
                        @Html.HiddenFor(model => ve.MaVe)
                        <input name="madh" value="@Model.MaDH" style="visibility:hidden" />
                        <div id="datve" class="datve" style="padding:0px 10px;">

                        </div>

                    </div>
                    <input name="soluongdat" id="soluongdat" value="0" style="visibility:hidden" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
                        <input id="addticket" onchange="checkve()" type="submit" value="Thêm vé" class="btn btn-success btn-sm" />
                    </div>
                </div>

            }
        </div>
    </div>
        <script>
            var i = 0;
            function ThemVe() {
                var ticketrow = document.createElement('div');
                ticketrow.classList.add('datve')
                var cartitem = document.getElementsByClassName("datve")[0];
                var chotrong = document.getElementById("sc").value;

                if (i >= chotrong) {
                    alert("Hết chổ !!")
                }
                else {
                    if (i < 5) {
                        i++;
                        var row = ` <div class="ticket-info" id="nd` + i + `">` +
                            `<div class="row" id="ListInfoAdult">` +
                                `<div class="group-info-name col-md-7">` +
                                    `<span>Họ tên</span>` +
                                    `<input class="form-group form-control" name="Hoten_KH` + i + `" placeholder="Vui lòng nhập Họ tên" required="required" type="text" value="">` +
                                `</div>` +
                                `<div class="form-group col-md-5">` +
                                    `<span>Loại vé</span>` +
                                    `<select class="form-control col-sm-12" id="MaLVe' + i + '" name="MaLVe` + i + `">` +
                                        `<option value="">Chọn loại vé</option>` +
                                        `<option value="TICKET01">Vé người lớn</option>` +
                                        `<option value="TICKET02">Vé trẻ em</option>` +
                                    `</select>` +
                                `</div>` +
                                `<div class="form-group group-info-sex col-sm-6">` +
                                    `<span>Giới tính</span>` +
                                    `<select class="form-control col-sm-12" id="GioiTinh' + i +'" name="GioiTinh` + i + `">` +
                                        `<option value="">Giới tính</option>` +
                                        `<option value="Nam">Nam</option>` +
                                        `<option value="Nữ">Nữ</option>` +
                                    `</select>` +
                                `</div>` +
                                `<div class="form-group group-info-birthday col-sm-6">` +
                                    `<span>Ngày sinh</span>` +
                                    `<input class="form-control text-box single-line" required="required" name="NgaySinh` + i + `" id="NgaySinh' + i +'" placeholder="Vui lòng nhập chọn ngày sinh"type="date" value="">` +
                                `</div>` +
                                `<div class="group-info-note col-sm-12">` +
                                    `<span>Lưu ý</span>` +
                                    `<input class="form-control col-sm-12" name="LuuY` + i + `" id="LuuY' + i +'" placeholder="Nhập lưu ý" type="text" value="">` +
                                `</div>` +
                                `<p>-----</p>` +
                            ` </div>` +
                            ` </div>` +
                            ` </div> `
                            ;

                        //var div = document.getElementById("datve");
                        //div.innerHTML += row;
                        ticketrow.innerHTML = row;
                        cartitem.append(ticketrow);
                        document.getElementById("soluongdat").value = i;
                    };
                }
            }
            function xoaVe() {
                var element = document.getElementById("datve");
                if (i > 1) {
                    document.getElementById('nd' + i).remove();
                    i--;
                }
                else {
                    alert("đặt vé lớn hơn 0")
                }
                document.getElementById("soluongdat").value = i;
            }
            //function checkve() {
            //    if (i == 0) {
            //        document.getElementById("addticket").disabled = true;

            //    }
            //    else {
            //        document.getElementById("addticket").disabled = false;
            //    }
            //}
        </script>
    </div>
    <input type="text" id="number" name="number" value="@thanhtoans" style="visibility:hidden" />

    <script>
        function CheckTT() {
            var inputValue = document.getElementById("number").value;
            var sochocon = document.getElementById("sc").value;
            if (i >= sochocon) {
                alert("Hết vé !!")
                document.getElementById("myButton").disabled = true;
            }
            else {
                if (inputValue == "Chưa thanh toán") {
                    document.getElementById("myButton").disabled = false;

                }
                else {
                    document.getElementById("myButton").disabled = true;
                    alert("Đơn hàng đã thanh toán !!");

                }
            }
        }
    </script>
