@model Tourist_VietripInsum_2023.Models.BookTour
@{
    ViewBag.Title = "Đặt tour";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.Name = "Đặt Tour";
    ViewBag.order = "active";
}
@if (TempData["ErrorSoCho"] != null)
{
    <script>
        swal({
            title: "@TempData["ErrorSoCho"]",
            icon: "warning",
            button: "Thoát",
        });
    </script>
}
@if (TempData["ErrorSoChoMax"] != null)
{
    <script>
        swal({
            title: "Số chỗ vượt quá số chỗ còn trống",
            icon: "warning",
            button: "Thoát",
        });
    </script>
}

<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <h3 class="tile-title" style="text-align: center;">ĐẶT TOUR</h3>
            <div class="tile-body">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row element-button">
                            <div class="form-group col-md-3">
                                <label class="control-label">Số điện thoại</label>
                                @Html.EditorFor(model => Session["SDT"], new { htmlAttributes = new { @class = "form-control col-sm-12", @readonly ="readonly" } })
                                @Html.ValidationMessageFor(model => model.SdtKH, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label">Tên tour</label>
                                @Html.DropDownList("MaTour", null, htmlAttributes: new { @class = "form-control col-sm-12" })
                                @Html.ValidationMessageFor(model => model.MaTour, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label">Số chỗ</label>
                                @Html.EditorFor(model => model.SoCho, new { htmlAttributes = new { @class = "form-control col-sm-12", @id = "numberplace" } })
                                @Html.ValidationMessageFor(model => model.SoCho, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-cancel btn-sm" href="/OrderProcessing/CheckCusInfo/ManageTourOrders">Quay lại</a>
                                <input type="submit" value="Tiếp tục" class="btn btn-success btn-sm" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>