@model Tourist_VietripInsum_2023.Models.Ve
@using Tourist_VietripInsum_2023.Models;
@{
    ViewBag.Title = "Tạo vé";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.Name = "Tạo vé";
    ViewBag.order = "active";

    TouristEntities1 db = new TouristEntities1();
    //var infoCus = Session["SDT"].ToString();
    //var cusInfo = db.KhachHangs.FirstOrDefault(s => s.SDT == infoCus);

    var infoDH = Session["MaDH"].ToString();
    var dh = db.BookTours.FirstOrDefault(s => s.MaDH == infoDH);

    //Random random = new Random();
    //Ve ve = new Ve();
}

<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <h3 class="tile-title" style="text-align: center;">TẠO VÉ</h3>
            <div class="tile-body">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        for (int i = 0; i < dh.SoCho; i++)
                        {
                            <div class="row element-button">
                                <div style="margin-bottom: 10px;">
                                    <b style="border-bottom: 2px solid;">
                                        @{var number = i + 1; } @number
                                    </b>
                                    @if (TempData["errorTrong" + i] != null)
                                    {
                                        <b style="color: red; margin-left: 10px;">@TempData["errorTrong" + i]</b>
                                    }
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label">Họ và tên</label>
                                    <input class="form-control text-box single-line" id="cusInfo_HoTenKH" name="HoTenKH_@i" type="text" value="@Request["HoTenKH_" + i]">
                                    @Html.ValidationMessageFor(model => model.Hoten_KH, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-2">
                                    <label class="control-label">Loại vé</label>
                                    <select class="form-control col-sm-12" id="MaLVe" name="MaLVe_@i">
                                        <option value="">Chọn loại vé</option>
                                        <option value="TICKET01">Vé người lớn</option>
                                        <option value="TICKET02">Vé trẻ em</option>
                                    </select>
                                    @*@Html.DropDownList("MaLVe", null, htmlAttributes: new { @class = "form-control col-sm-12" })*@
                                    @Html.ValidationMessageFor(model => model.MaLVe, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-2">
                                    <label class="control-label">Giới tính</label>
                                    <select class="form-control col-sm-12" id="cusInfo_GioiTinh" name="GioiTinh_@i">
                                        <option value="">Giới tính</option>
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                    @*<input class="form-control text-box single-line" id="cusInfo_GioiTinh" name="GioiTinh_@i" type="text" value="@Request["GioiTinh_" + i]">*@
                                    @*@Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-3">
                                    <label class="control-label">Ngày sinh</label>
                                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field NgaySinh must be a date." id="cusInfo_NgaySinh" name="NgaySinh_@i" type="date" value="@Request["NgaySinh_" + i]">
                                    @*@Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-2">
                                    <label class="control-label">Lưu ý</label>
                                    <input class="form-control text-box single-line" id="LuuY" name="LuuY_@i" type="text">
                                    @*@Html.EditorFor(model => model.LuuY, new { htmlAttributes = new { @class = "form-control", @name = "LuuY_"+i } })*@
                                    @Html.ValidationMessageFor(model => model.LuuY, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a class="btn btn-cancel btn-sm" href="/OrderProcessing/EditOrdering/@Session["MaDH"]">Quay lại</a>
                                <input type="submit" value="Tiếp tục" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
