@model IEnumerable<Tourist_VietripInsum_2023.Models.Ve>

@{
    ViewBag.Title = "CusDetailsTour";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.Name = "Danh sách khách hàng tham gia tour";
    ViewBag.tour = "active";
}

<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <div>
                Chi tiết tour
            </div>
            <h3 class="tile-title">DANH SÁCH KHÁCH HÀNG THAM GIA TOUR</h3>
            <div class="tile-body table-responsive">
                <table class="table">
                    <thead style="background-color: #ffd43b;">
                        <tr>
                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Mã vé</th>
                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Họ và tên</th>
                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Loại vé</th>
                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Giới tính</th>
                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Ngày sinh</th>
                            <th aria-controls="sampleTable" rowspan="1" colspan="1">Lưu ý</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="8" class="text-center"> Records not found </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaVe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hoten_KH)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LoaiVe.TenLVe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GioiTinh)
                                    </td>
                                    <td>
                                        @{ var ngaySinh = string.Format("{0:dd/MM/yyyy}", item.NgaySinh);}
                                        @Html.DisplayFor(modelItem => ngaySinh)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.LuuY)
                                    </td>

                                </tr>
                            }
                        }
                </table>
                <p>
                    <a class="btn btn-cancel btn-sm" href="/OrderProcessing/TourList">Quay lại</a>
                </p>
            </div>
        </div>
    </div>
</div>