@model Tourist_VietripInsum_2023.Models.BookTour
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "Xóa đơn đặt tour";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.Name = "Xóa đơn đặt tour";
    ViewBag.order = "active";
    TouristEntities1 db = new TouristEntities1();
} 

<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <h3 class="tile-title">Bạn có chắc chắn muốn xóa đơn đặt tour này?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Tên tour
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tour.TenTour)
                    </dd>

                    <dt>
                        Ngày đặt
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayLap)
                    </dd>

                    <dt>
                        Tên khách hàng
                    </dt>

                    <dd>
                        @{
                            var kh = db.KhachHangs.Where(s => s.MaKH == Model.MaKH).FirstOrDefault();
                        }
                        <b>Tên Khách Hàng: </b> @Html.DisplayFor(model => kh.HoTenKH) -
                        @Html.DisplayFor(model => model.SdtKH)
                    </dd>

                    <dt>
                        Tình trạng thanh toán
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrangThaiTT)
                    </dd>

                    <dt>
                        Tổng tiền
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TotalPrice)
                    </dd>

                    <dt>
                        Số chỗ
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SoCho)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <a class="btn btn-cancel btn-sm" href="/OrderProcessing/ManageTourOrders">Hủy</a>
                        <input type="submit" value="Xác nhận" class="btn btn-default btn-sm" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>