@model Tourist_VietripInsum_2023.Models.BookTour
@{
    ViewBag.Title = "EditOrdering";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
}

@if (TempData["ErrorSoCho"] != null)
{
    <script>
        swal({
            title: "@TempData["ErrorSoCho"]",
            icon: "warning",
            button: "Thoát",
        });
    </script>
}

<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <h3 class="tile-title" style="text-align: center;">CREATE ORDER</h3>
            <div class="tile-body">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*@Html.HiddenFor(model => infoDH.MaDH)
                            @Html.HiddenFor(model => infoDH.MaNVLap)
                            @Html.HiddenFor(model => infoDH.NgayLap)
                            @Html.HiddenFor(model => infoDH.TrangThaiTT)
                            @Html.HiddenFor(model => infoDH.TotalPrice)*@

                        @Html.HiddenFor(model => model.MaDH)
                        @Html.HiddenFor(model => model.MaNVLap)
                        @Html.HiddenFor(model => model.NgayLap)
                        @Html.HiddenFor(model => model.TrangThaiTT)
                        @Html.HiddenFor(model => model.TotalPrice)

                        <div class="row element-button">
                            <div class="form-group col-md-3">
                                <label class="control-label">Number Phone</label>
                                @Html.EditorFor(model => model.SdtKH, new { htmlAttributes = new { @class = "form-control col-sm-12" } })
                                @Html.ValidationMessageFor(model => model.SdtKH, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label">Tour Name</label>
                                @Html.DropDownList("MaTour", null, htmlAttributes: new { @class = "form-control col-sm-12" })
                                @Html.ValidationMessageFor(model => model.MaTour, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label">Number Of Place</label>
                                @Html.EditorFor(model => model.SoCho, new { htmlAttributes = new { @class = "form-control col-sm-12", @id = "numberplace" } })
                                @Html.ValidationMessageFor(model => model.SoCho, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-cancel btn-sm" href="/OrderProcessing/DeleteOrdering/@Session["MaDH"]">Back</a>
                                <input type="submit" value="Next" class="btn btn-success btn-sm" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
