@model Tourist_VietripInsum_2023.Models.BookTour
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "EditOrdering";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.Name = "Trang Đặt Tour";
    ViewBag.order = "active";

    TouristEntities1 db = new TouristEntities1();
    var tour = db.Tours.ToList();
}

@if (TempData["ErrorSoCho"] != null)
{
    <script>
        swal({
            title: "@TempData["ErrorSoCho"]",
            icon: "warning",
            button: "Thoát",
        });
    </script>
}
@if (TempData["ErrorTour"] != null)
{
    <script>
        swal({
            title: "@TempData["ErrorTour"]",
            icon: "warning",
            button: "Thoát",
        });
    </script>
}
@if (TempData["ErrorSoChoMax"] != null)
{
    <script>
        swal({
            title: "Số chỗ vượt quá số chỗ còn trống",
            icon: "warning",
            button: "Thoát",
        });
    </script>
}

<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <h3 class="tile-title" style="text-align: center;">ĐẶT TOUR</h3>
            <div class="tile-body">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.MaDH)
                        @Html.HiddenFor(model => model.MaKH)
                        @Html.HiddenFor(model => model.MaNVLap)
                        @Html.HiddenFor(model => model.NgayLap)
                        @Html.HiddenFor(model => model.TrangThaiTT)
                        @Html.HiddenFor(model => model.TotalPrice)

                        <div class="row element-button">
                            <div class="form-group col-md-8">
                                <label class="control-label">Tên tour</label>
                                @*@Html.DropDownList("MaTour", null, htmlAttributes: new { @class = "form-control col-sm-12" })*@
                                @*@Html.DropDownListFor(model => model.MaTour, (SelectList)ViewBag.MaTour, "Vui lòng chọn tour", htmlAttributes: new { @class = "form-control col-sm-12" })*@
                                <select class="form-control col-sm-12" id="MaTour" name="MaTour">
                                    <option value="">Vui lòng chọn tour</option>
                                    @foreach (var item in tour)
                                    {
                                        if (item.TrangThai != "Sắp ra mắt")
                                        {
                                            <option value="@item.MaTour">@item.TenTour</option>
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.MaTour, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label">Số chỗ trống</label>
                                <span class="form-control" id="SoChoNull" type="number">0</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Số điện thoại</label>
                                @Html.EditorFor(model => model.SdtKH, new { htmlAttributes = new { @class = "form-control col-sm-12", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SdtKH, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Số lượng vé</label>
                                @Html.EditorFor(model => model.SoCho, new { htmlAttributes = new { @class = "form-control col-sm-12", @id = "numberplace" } })
                                @Html.ValidationMessageFor(model => model.SoCho, "", new { @class = "text-danger" })
                                <span class="text-secondary"> * Vé chưa bao gồm người đặt!</span>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label">Hình thức thanh toán</label>
                                <select class="form-control list-box tri-state" id="HinhThucThanhToan" name="HinhThucThanhToan">
                                    <option selected="selected" value="true">Chuyển khoản</option>
                                    <option value="false">Tiền mặt</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-cancel btn-sm" href="/OrderProcessing/DeleteOrdering/@Session["MaDH"]">Quay lại</a>
                                <input type="submit" value="Tiếp tục" class="btn btn-success btn-sm" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="Scripts/jquery-1.4.1.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#MaTour').change(function () {
            var id = $(this).val();

            $.ajax({
                url: '/OrderProcessing/GetInfoTour',
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    $('#SoChoNull').html(data);
                }
            });
        });
    });
</script>