@model Tourist_VietripInsum_2023.Models.BookTour

@{
    ViewBag.Title = "OrderingInfo";
    Layout = "~/Views/OrderProcessing/LayoutOP/_ViewOP.cshtml";
    ViewBag.Name = "Order Information";
    ViewBag.order = "active";
}

<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <h3 class="tile-title" style="text-align: center;">ORDER INFORMATION</h3>
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-md-4">
                        <img src="@Model.Tour.HinhMinhHoa_T" width="300" height="300" />
                    </div>
                    <div class="col-md-8" style="font-size: 18px;">
                        <div class="row">
                            <div class="col-md-12">
                                <b>Tour Name: </b>@Html.DisplayFor(model => model.Tour.TenTour)
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6">
                                <b>Customer Name: </b>@Html.DisplayFor(model => model.KhachHang.HoTenKH)
                            </div>
                            <div class="col-md-6">
                                <b>Number Phone: </b>@Html.DisplayFor(model => model.SdtKH)
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6">
                                <b>Number of place: </b>@Html.DisplayFor(model => model.SoCho)
                            </div>
                            <div class="col-md-6">
                                <b>Total Price: </b>@Html.DisplayFor(model => model.TotalPrice)
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <b>Date Create: </b>@Html.DisplayFor(model => model.NgayLap)
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <a class="btn btn-cancel btn-sm" href="/OrderProcessing/DeleteOrdering/@Session["MaDH"]">Cancel</a>
                    <a class="btn btn-success btn-sm" href="/OrderProcessing/ManageTourOrders">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>