@model Tourist_VietripInsum_2023.Models.PhuongTien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhuongTien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPTien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
