@model Tourist_VietripInsum_2023.Models.Hotel

@{
    ViewBag.Title = "CreateHotel";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Hotel Manager";
    ViewBag.qlt = "active";
}
<style>
    .info div{
        padding-bottom:5px;
    }
</style>
<script src="~/Content/imghidden.js"></script>
<div class="col-md-12">
    <div class="tile">
        <h4 class="tile-title"> CREATE NEW HOTEL</h4>
        <div class="tile-body">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="container">


                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*<div class="col-sm-4" style="text-align:center">
                            <label class="control-label">Chọn hình ảnh</label>
                            @Html.TextBox("ImgHotel", "", new { type = "file" })
                            <br />
                            <img id="preview" src="#" width="220" height="200" style="visibility:hidden;" />
                            <br />
                        </div>*@
                        <div class="info col-sm-12">
                            @Html.HiddenFor(model => model.IdHotel)

                            <div class="form-group col-sm-4">
                                <strong>Level</strong>
                                <div class="col-md-12">
                                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field must be a number." id="LevelHotel" name="LevelHotel" type="number" min="0" value="">
                                    @Html.ValidationMessageFor(model => model.LevelHotel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-sm-8">
                                <strong>Hotel Name</strong>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NameHotel, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NameHotel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <strong>City</strong>
                                <div class="col-md-12">
                                    <input type="text" id="cityaddress" name="cityaddress" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <strong>District </strong>
                                <div class="col-md-12">
                                    <input type="text" id="districtaddress" name="districtaddress" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <strong>Address </strong>
                                <div class="col-md-12">
                                    <input type="text" id="staddress" name="staddress" class="form-control" />
                                </div>
                            </div>






                            @*<div class="form-group col-sm-6">
            <strong>Hotel Address</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressHotel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddressHotel, "", new { @class = "text-danger" })
            </div>
        </div>*@


                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Create Hotel" class="btn btn-success btn-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Hotelmanager")
            </div>
        </div>
    </div>
</div>


