@model Tourist_VietripInsum_2023.Models.PhuongTien

@{
    ViewBag.Title = "CreateTrans";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Create Transport";
    ViewBag.qlt = "active";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><div class="tile">
    <h4 class="tile-title"> CREATE NEW TRANSPORT</h4>
    <div class="tile-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaPTien)
                <div class="form-group">
                    @Html.LabelFor(model => model.TenPTien, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.TenPTien, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.TenPTien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HangXe, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.HangXe, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.HangXe, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ChiTiet, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ChiTiet, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.ChiTiet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create Transport" class="btn btn-success btn-sm" />
                        <a class="btn btn-warning" href="/Tourmanager/HotelManager"> Trở lại</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div></div>
    <div class="col-md-3"></div>
</div>


