@model Tourist_VietripInsum_2023.Models.DetailTour

@{
    ViewBag.Title = "CreateDetailTour";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Create Detail Tour";
    ViewBag.qlt = "active";
}

<div class="tile">
    @*<h5 class="tile-title">THÔNG TIN TOUR</h5>*@

    <div class="tile-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="container">
            <div class="form-horizontal">
                <h4>Detail Tour</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdSchedule)
                @Html.HiddenFor(model => model.IdTour)
                @Html.HiddenFor(model => model.Stt)

                <div class="form-group col-sm-4">
                    <strong>Chọn khách sạn</strong>
                    <div class="col-md-10">
                        @Html.DropDownList("IdHotel", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdHotel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <strong>Địa điểm</strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IdVistLocat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdVistLocat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <
                <div class="form-group col-sm-4">
                    <strong>Chọn phương tiện</strong>
                    <div class="col-md-10">
                        @Html.DropDownList("IdTrans", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdTrans, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group col-sm-4">
                    <strong>Địa điểm tập trung:</strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InfoConcentrate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InfoConcentrate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <strong>stt:</strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Stt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Stt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <strong>Mô tả</strong>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Describe, new { @class = "form-control content-editor" })
                        @Html.ValidationMessageFor(model => model.Describe, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create Detail" class="btn btn-success btn-sm" />
                    </div>
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
