@model Tourist_VietripInsum_2023.Models.Hotel

@{
    ViewBag.Title = "DeleteHotel";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
}

<h2>DeleteHotel</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LevelHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelHotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameHotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressHotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgHotel)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "QuanLyTour")
        </div>
    }
</div>
