@model Tourist_VietripInsum_2023.Models.VistLocation

@{
    ViewBag.Title = "DeleteVisitLocations";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
}

<h2>DeleteVisitLocations</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VistLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameVist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameVist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loca_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loca_address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "QuanLyTour")
        </div>
    }
</div>
