@model Tourist_VietripInsum_2023.Models.Staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffBirthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffBirthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.NamePos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.NamePos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdStaff }) |
    @Html.ActionLink("Back to List", "Index")
</p>
