@model Tourist_VietripInsum_2023.Models.ChiTietTour

@{
    ViewBag.Title = "EditDetailTour";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Edit Detail Tour";
    ViewBag.qlt = "active";
}
<div class="tile">
    <h3 class="tile-title">THÔNG TIN TOUR</h3>

    <div class="tile-body">

        <form method="post" enctype="multipart/form-data" action="~/Tourmanager/EditDetailTour">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>ChiTietTour</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.STT)

                    @Html.HiddenFor(model => model.MaDDTQ)

                    @Html.HiddenFor(model => model.MaTour)

                    <div class="form-group">
                        @Html.LabelFor(model => model.MaPTien, "MaPTien", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MaPTien", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaPTien, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TieuDe, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MotaChitiet, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MotaChitiet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MotaChitiet, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </form>


    </div>
    <div>
        @Html.ActionLink("Back to List", "ListDeTailTour", new RouteValueDictionary(
                        new { controller = "Tourmanager", action = "ListDetailTour", Id = Model.MaTour }))
    </div>
</div>


<script>
    Imager.onchange = evt => {
        const [file] = Imager.files
        if (file) {
            preview.src = URL.createObjectURL(file);
            document.getElementById("preview").style.visibility = "visible";
        }
    }
</script>