@model Tourist_VietripInsum_2023.Models.Tour
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "EditTour";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Edit Tour";
    ViewBag.qlt = "active";
    TouristEntities1 db = new TouristEntities1();
    var tinhthanh = db.TinhThanhs.ToList();
}

<div class="tile">
    <h4 class="tile-title"> EDIT TOUR</h4>
    <div class="tile-body">

        <form class="row" method="post" enctype="multipart/form-data" action="~/Tourmanager/EditTour">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaTour)
            @Html.HiddenFor(model => model.HinhMinhHoa_T)
            <div class="col-sm-4 text-center">
                <div style="width: 100%; height: auto; padding: 10px; border-radius: 50px 20px; text-align: center;">
                    <br />
                    @Html.TextBox("ImagerTour", "", new { type = "file", @class = "form-control text-center text-danger" })
                    <br />
                    <img id="preview" src="#" width="100%" height="auto" style="visibility: hidden; border: 4px outset; margin-bottom:20px;" />
                    <img src="@Model.HinhMinhHoa_T" id="preview1" width="100%" height="auto" style="visibility:visible; border: 4px outset; margin-bottom:20px;" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group col-sm-12">
                    <strong>Tour name</strong>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.TenTour, new { @class = "form-control content-editor col-md-12", required = "required" })
                        @Html.ValidationMessageFor(model => model.TenTour, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Type Tour</strong>
                    <div class="col-md-12">
                        @Html.DropDownList("MaLTour", null, htmlAttributes: new { @class = "form-control col-md-12" })
                        @Html.ValidationMessageFor(model => model.MaLTour, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Ngày khởi hành: </strong>
                    <div class="col-md-12">
                        @*<input class="form-control text-box single-line" data-val="true" data-val-date="The field StaffBirthday must be a date." id="Departure" name="Departure" type="date" value="@Model.Departure">*@
                        @Html.TextBoxFor(model => model.NgayKhoihanh, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control col-md-12 ", type = "datetime-local" })
                        @*<input class="form-control col-md-12 text-box single-line" value="@Model.NgayKhoihanh" data-val="true" data-val-date="The field NgayNhap must be a date." id="NgayTroVe" name="NgayTroVe"  required>*@
                        @Html.ValidationMessageFor(model => model.NgayKhoihanh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <strong>Ngày trở về: </strong>
                    <div class="col-md-12">
                        @*<input class="form-control text-box single-line" data-val="true" data-val-date="The field must be a date." id="TimeTour" name="TimeTour" type="number" min="0" value="@Model.TimeTour">*@
                        @Html.TextBoxFor(model => model.NgayTroVe, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control col-md-12 ", type = "datetime-local" })
                        @Html.ValidationMessageFor(model => model.NgayTroVe, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Nơi khởi hành:</strong>
                    <div class="col-md-12">
                        <select class="form-control col-md-12" name="NoiKhoiHanh" required>
                            <option>TP. Hồ Chí Minh</option>
                            <option>Hà Nội</option>
                            <option>Đà Nẵng</option>
                            <option>Huế</option>
                            <option>Rạch Giá</option>
                            <option>Vũng tàu</option>
                            <option>Nha Trang</option>
                            <option>Cần Thơ</option>
                        </select>
                        @*@Html.EditorFor(model => model.NoiKhoiHanh, new { htmlAttributes = new { @class = "form-control col-md-12" } })*@
                        @Html.ValidationMessageFor(model => model.NoiKhoiHanh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Giá trẻ em: </strong>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.GiaTreEm, new { htmlAttributes = new { @class = "form-control col-sm-12" } })
                        @Html.ValidationMessageFor(model => model.GiaTreEm, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group col-sm-12">
                    <strong>Gioi thieu</strong>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.GioiThieu, new { @class = "form-control content-editor col-md-12", required = "required" })
                        @Html.ValidationMessageFor(model => model.GioiThieu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Trạng thái hiển thị: </strong>
                    <div class="col-sm-12">
                        <select class="form-control col-sm-12" id="TrangThai" name="Trangthai">
                            <option>Sắp ra mắt</option>
                            <option>Tour nổi bật</option>
                            <option>Đang diễn ra</option>
                            <option>Tour giờ chót</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Số ngày:</strong>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.SoNgay, new { htmlAttributes = new { @class = "form-control col-md-12", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SoNgay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Số chỗ trống: </strong>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.SoChoNull, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.SoChoNull, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Hạn đặt chỗ: </strong>
                    <div class="col-sm-12">
                        @Html.TextBoxFor(model => model.HanChotDatVe, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control col-md-12 ", type = "datetime-local" })
                        @Html.ValidationMessageFor(model => model.HanChotDatVe, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Giá người lớn: </strong>
                    <div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.GiaNguoiLon, new { htmlAttributes = new { @class = "form-control col-sm-12" } })
                            @Html.ValidationMessageFor(model => model.GiaNguoiLon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
                <div class="form-group col-sm-12" style="margin-top:20px;">
                    <a class="btn btn-warning btn-sm" href="/Tourmanager/QuanLyTour">Back to list</a>
                    <input type="submit" value="Edit Tour" class="btn btn-success btn-sm" />
                </div>
            </div>
            

            @* button *@
        </form>
    </div>

</div>


<script>
    ImagerTour.onchange = evt => {
        const [file] = ImagerTour.files
        if (file) {
            preview.src = URL.createObjectURL(file);
            document.getElementById("preview").style.visibility = "visible";
            document.getElementById("preview1").style.visibility = "hidden";
        }
    }
</script>
