@model Tourist_VietripInsum_2023.Models.Tour
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "EditTour";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Edit Tour";
    ViewBag.qlt = "active";
    TouristEntities1 db = new TouristEntities1();
    var tinhthanh = db.TinhThanhs.ToList();
}

<div class="tile">
    <h4 class="tile-title"> EDIT TOUR</h4>
    <div class="tile-body">

        <form class="row" method="post" enctype="multipart/form-data" action="~/Tourmanager/EditTour">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaTour)
            <div class="col-sm-4">
                <div style="width: 100%; height: auto; padding: 10px; border-radius: 50px 20px;">
                    <br />
                    @Html.TextBox("ImagerTour", "", new { type = "file", @class = "fas fa-cloud-upload-alt" })
                    <br />
                    <img id="preview" src="#" width="100%" height="auto" style="visibility: hidden; border: 4px outset; margin-bottom:20px;" />
                    <img src="@Model.HinhMinhHoa_T" id="preview1" width="100%" height="auto" style="visibility:visible; border: 4px outset; margin-bottom:20px;" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group col-sm-12">
                    <strong>Type Tour</strong>
                    <div class="col-md-12">
                        @Html.DropDownList("MaLTour", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaLTour, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Tinh Thanh</strong>
                    <div class="col-md-12">
                        <select class="form-control" id="Te" name="">
                            @{
                                foreach (var item in tinhthanh)
                                {
                                    <option>@item.TenTinh</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <p><strong>Mã khách sạn: </strong></p>
                    <div class="col-md-12">
                        @Html.DropDownList("MaKS", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaKS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Ngày khởi hành: </strong>
                    <div class="col-md-12">
                        @*<input class="form-control text-box single-line" data-val="true" data-val-date="The field StaffBirthday must be a date." id="Departure" name="Departure" type="date" value="@Model.Departure">*@
                        <input class="form-control text-box single-line" data-val="true" data-val-date="The field NgayNhap must be a date." id="NgayTroVe" name="NgayTroVe" type="date" required>
                        @Html.ValidationMessageFor(model => model.NgayKhoihanh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <strong>Ngày trở về: </strong>
                    <div class="col-md-12">
                        @*<input class="form-control text-box single-line" data-val="true" data-val-date="The field must be a date." id="TimeTour" name="TimeTour" type="number" min="0" value="@Model.TimeTour">*@
                        <input class="form-control text-box single-line" data-val="true" data-val-date="The field NgayNhap must be a date." id="NgayTroVe" name="NgayTroVe" type="date" required>
                        @Html.ValidationMessageFor(model => model.NgayTroVe, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Nơi khởi hành:</strong>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.NoiKhoiHanh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoiKhoiHanh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Hạn đặt chỗ: </strong>
                    <div class="col-sm-12">
                        <input class="form-control text-box single-line" data-val="true" data-val-date="The field NgayNhap must be a date." id="NgayTroVe" name="NgayTroVe" type="date" required>
                        @Html.ValidationMessageFor(model => model.HanChotDatVe, "", new { @class = "text-danger" })
                    </div>
                </div>


                





            </div>
            <div class="col-sm-4">
                <div class="form-group col-sm-12">
                    <strong>Tour name</strong>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.TenTour, new { @class = "form-control content-editor col-md-12", required = "required" })
                        @Html.ValidationMessageFor(model => model.TenTour, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    @Html.LabelFor(model => model.GioiThieu, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.GioiThieu, new { @class = "form-control content-editor col-md-12", required = "required" })
                        @Html.ValidationMessageFor(model => model.GioiThieu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <p><strong>Tour nổi bật: </strong></p>
                    <div class="col-sm-12">
                        <select class="form-control col-sm-12" id="TrangThai" name="Trangthai">
                            <option>Comming soon...</option>
                            <option>Expiration soon</option>
                            <option>Outstanding</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <strong>Số ngày:</strong>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.SoNgay, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SoNgay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <strong>Số chỗ trống: </strong>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.SoChoNull, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoChoNull, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <strong>Giá trẻ em: </strong>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.GiaTreEm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiaTreEm, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <strong>Giá người lớn: </strong>
                    <div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.GiaNguoiLon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaNguoiLon, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>


            @* button *@
            <div class="col-sm-12">
                <div class="form-group col-sm-2">
                    <div class="col-sm-2">
                        <a class="btn btn-warning btn-sm" href="/Tourmanager/QuanLyTour">Back to list</a>
                    </div>
                </div>
                <div class="form-group col-sm-2 ">
                    <div class="col-sm-2">
                        <input type="submit" value="Edit Tour" class="btn btn-success btn-sm" />
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>


<script>
    ImagerTour.onchange = evt => {
        const [file] = ImagerTour.files
        if (file) {
            preview.src = URL.createObjectURL(file);
            document.getElementById("preview").style.visibility = "visible";
            document.getElementById("preview1").style.visibility = "hidden";
        }
    }
</script>
