@model IEnumerable<Tourist_VietripInsum_2023.Models.Hotel>
@using Tourist_VietripInsum_2023.Models

@{
    ViewBag.Title = "HotelManager";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Hotel Manager";
    ViewBag.hd = "active";
    TouristEntities1 db = new TouristEntities1();
    List<PhuongTien> phuongTiens = db.PhuongTiens.ToList();
}

@{
    var checkdata = TempData["noti"];
    if (checkdata == "delete-false")
    {
        <script>
            swal("Warning!", "Khách sạn hiện tại đang có tour sử dụng !!!", "warning")
        </script>
    }
    else if (checkdata == "delete-true")
    {
        <script>
            swal("XÓA THÀNH CÔNG!", "Bạn đã xóa thành công khách sạn !", "success");
        </script>
    }
    else if (checkdata == "edit")
    {
        <script>
            swal("Good job!", "You have successfully edited the hotel information!", "success");
        </script>
    }
    else if (checkdata == "add")
    {
        <script>
            swal("Good job!", "You have created hotel information!", "success");
        </script>
    }
    else if (checkdata == "addtrans")
    {
        <script>
            swal("Good job!", "Bạn đã tạo thành công thông tin phương tiện mới!", "success");
        </script>
    }
    else if (checkdata == "edittrans")
    {
        <script>
            swal("Good job!", "You have successfully edited the transport information!", "success");
        </script>
    }
    if (checkdata == "deletetrans-false")
    {
        <script>
            swal("Warning!", "The transport is being used in the current tour!!!", "warning")
        </script>
    }
    else if (checkdata == "deletetrans-true")
    {
        <script>
            swal("Good job!", "You deleted the transport!", "success");
        </script>
    }
    else if (checkdata == "taokhachsan")
    {
        <script>
            swal("THÊM KHÁCH SẠN THÀNH CÔNG !!!", "Bạn đã thêm mới khách sạn thành công !", "success");
        </script>
    }

}
<style type="text/css">
    /** {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Verdana', sans-serif;
    }

    html, body {
        height: 100%;
    }

    body {
        display: grid;
        grid-template-rows: 1fr 50px;
        background: linear-gradient(to bottom, #7927b2, #fb3182);
        justify-content: center;
        align-items: center;
    }*/

    .container {
        width: 90%;
        height: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding: 30px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .msg {
        font-size: 90px;
        font-weight: bold;
        background: linear-gradient(to right, #7927b2, #fb3182);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 350px;
        text-transform: uppercase;
        line-height: .77;

        
    }
    .title-modal {
        text-align:center;
        padding-top:15px;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <div class="col-sm-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row" style="padding:10px">
                        <h3 class="tile-title">Danh sách khách sạn nổi bật</h3>
                        <div class="col-sm-2 tile-body">
                            <a class="btn btn-outline-success btn-sm " type="button" title="CreateTour" data-toggle="modal" data-target="#HotelModal">
                                Thêm mới
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="HotelModal" tabindex="-1" role="dialog" aria-labelledby="HotelModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    @using (Html.BeginForm("CreateHotel", "Tourmanager", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="container">
                                                    @{
                                                        var newks = db.Hotels.FirstOrDefault();
                                                    }
                                                    <div class="form-horizontal">
                                                        <h5 class="title-modal">THÊM KHÁCH SẠN</h5>
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        @Html.HiddenFor(model => newks.MaKS)
                                                        <div class="row">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => newks.MaTinh, "MaTinh", htmlAttributes: new { @class = "control-label col-md-12" })
                                                                <div class="col-md-12">
                                                                    @Html.DropDownList("MaTinh", null, htmlAttributes: new { @class = "form-control col-md-12", @name = "MaTinh" })
                                                                    @Html.ValidationMessageFor(model => newks.MaTinh, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                @Html.LabelFor(model => newks.TenKS, htmlAttributes: new { @class = "control-label col-md-12" })
                                                                <div class="col-md-12">
                                                                    <input name="TenKS" class = "form-control col-md-12" required/>
                                                                    @*@Html.EditorFor(model => newks.TenKS, new { htmlAttributes = new { @class = "form-control col-md-12" } })*@
                                                                    @Html.ValidationMessageFor(model => newks.TenKS, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                @Html.LabelFor(model => newks.Sao, htmlAttributes: new { @class = "control-label col-md-12" })
                                                                <div class="col-md-12">
                                                                    <input name="Sao" class="form-control col-md-12"  type="number" min="1" max="6" value="1" required/>
                                                                    @Html.ValidationMessageFor(model => newks.Sao, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-secondary btn-sm" data-dismiss="modal">Close</a>
                                                <input type="submit" value="Create Hotel" class="btn btn-success btn-sm" />
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid">
                                <tr style="background-color: #ffd43b;">
                                    <th>Mã</th>
                                    <th>
                                        Tên tỉnh
                                    </th>
                                    <th>
                                        Tên khách sạn
                                    </th>
                                    <th>
                                        Cấp độ
                                    </th>
                                    <th>Chức năng</th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.MaKS)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TinhThanh.TenTinh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenKS)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sao)
                                        </td>
                                        <td style="text-align:center">
                                            <a href="/Tourmanager/EditHotel/@item.MaKS" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Edit">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Delete" data-target="#DeleteModal-@item.MaKS" data-toggle="modal">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            @using (Html.BeginForm("DeleteHotel/" + item.MaKS, "Tourmanager", FormMethod.Post, null))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@item.MaKS">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <h5 class="title-modal">XÁC NHẬN XÓA KHÁCH SẠN </h5>
                                                                <p>Bạn có xác nhận xóa khách sạn @item.MaKS - @item.TenKS ?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                <button type="submit" class="btn btn-danger">Yes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*PHUONG TIEN*@
        <div class="col-sm-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row" style="padding:10px">
                        <h3 class="tile-title">Danh sách phương tiện di chuyển</h3>
                        <div class="col-sm-2">
                            <a class="btn btn-outline-success btn-sm " type="button" title="Thêm phương tiện" data-toggle="modal" data-target="#TransModal">
                                Thêm phương tiện di chuyển
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="TransModal" tabindex="-1" role="dialog" aria-labelledby="TransModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    @using (Html.BeginForm("CreateTrans", "Tourmanager", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="container">
                                                    @{
                                                        var trans = db.PhuongTiens.FirstOrDefault();
                                                    }
                                                    <div class="form-horizontal">
                                                        <h5 class="title-modal">THÊM PHƯƠNG TIỆN DI CHUYỂN</h5>
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        @Html.HiddenFor(model => trans.MaPTien)
                                                    <div class="row">


                                                        <div class="form-group">
                                                            <p>Tên phương tiện</p>
                                                            <div class="col-md-12">
                                                                <input name="TenPTien" class="form-control col-md-12" required />
                                                                @*@Html.EditorFor(model => newks.TenKS, new { htmlAttributes = new { @class = "form-control col-md-12" } })*@
                                                                @Html.ValidationMessageFor(model => trans.TenPTien, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <strong>Hãng :</strong>
                                                            <div class="col-md-12">
                                                                <input name="HangXe" class="form-control col-md-12" required />
                                                                @Html.ValidationMessageFor(model => trans.HangXe, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <strong>Chi tiết :</strong>
                                                            <div class="col-md-12">
                                                                <textarea rows="5" class="form-control col-md-12" name="Chitiet" required> </textarea>
                                                                @Html.ValidationMessageFor(model => trans.ChiTiet, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                    </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-secondary btn-sm" data-dismiss="modal">Close</a>
                                                <input type="submit" value="Create Hotel" class="btn btn-success btn-sm" />
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="" cellpadding="0" cellspacing="0" border="0" role="grid">
                                    <tr style="background-color: #ffd43b;">
                                        <th>Mã</th>
                                        <th>
                                            Tên
                                        </th>
                                        <th>
                                            Hãng xe
                                        </th>
                                        <th>
                                            Chi tiết / Lưu ý (nếu có)
                                        </th>
                                        <th>Tùy chọn</th>
                                    </tr>

                                    @foreach (var item in phuongTiens)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.MaPTien)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenPTien)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HangXe)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChiTiet)
                                            </td>
                                            <td style="text-align:center">
                                                <a href="/Tourmanager/EditTrans/@item.MaPTien" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Edit">
                                                    <i class="fas fa-edit"></i>
                                                </a>


                                                <a class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Delete" data-target="#DeleteModalTrans-@item.MaPTien" data-toggle="modal">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                                @using (Html.BeginForm("DeleteTrans/" + item.MaPTien, "Tourmanager", FormMethod.Post, null))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="modal" tabindex="-1" role="dialog" id="DeleteModalTrans-@item.MaPTien">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Delete Confirmation</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h5 class="title-modal">XÁC NHẬN XÓA PHƯƠNG TIỆN DI CHUYỂN </h5>
                                                                    <p>Bạn xác nhận xóa @item.TenPTien !?</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                    <button type="submit" class="btn btn-danger">Yes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }



                                            </td>
                                        </tr>
                                    }

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <p class="msg">
                info hotel transport.
            </p>
        </div>
    </div>


</div>




<script>

    function OpenDeleteModal() {
        $("#myModalHotel").modal('show');

    }

   

</script>





