@model IEnumerable<Tourist_VietripInsum_2023.Models.Hotel>
@using Tourist_VietripInsum_2023.Models

@{
    ViewBag.Title = "HotelManager";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Hotel Manager";
    ViewBag.qlt = "active";
    TouristEntities1 db = new TouristEntities1();
    List<PhuongTien> phuongTiens = db.PhuongTiens.ToList();
}

@{
    var checkdata = TempData["noti"];
    if (checkdata == "delete-false")
    {
        <script>
            swal("Warning!", "The hotel is being used in the current tour!!!", "warning")
        </script>
    }
    else if (checkdata == "delete-true")
    {
        <script>
            swal("Good job!", "You deleted the hotel!", "success");
        </script>
    }
    else if (checkdata == "edit")
    {
        <script>
            swal("Good job!", "You have successfully edited the hotel information!", "success");
        </script>
    }
    else if (checkdata == "add")
    {
        <script>
            swal("Good job!", "You have created hotel information!", "success");
        </script>
    }
    else if (checkdata == "addtrans")
    {
        <script>
            swal("Good job!", "You have created transport information!", "success");
        </script>
    }
    else if (checkdata == "edittrans")
    {
        <script>
            swal("Good job!", "You have successfully edited the transport information!", "success");
        </script>
    }
    if (checkdata == "deletetrans-false")
    {
        <script>
            swal("Warning!", "The transport is being used in the current tour!!!", "warning")
        </script>
    }
    else if (checkdata == "deletetrans-true")
    {
        <script>
            swal("Good job!", "You deleted the transport!", "success");
        </script>
    }

}
<style type="text/css">
    /** {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Verdana', sans-serif;
    }

    html, body {
        height: 100%;
    }

    body {
        display: grid;
        grid-template-rows: 1fr 50px;
        background: linear-gradient(to bottom, #7927b2, #fb3182);
        justify-content: center;
        align-items: center;
    }*/

    .container {
        width: 90%;
        height: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding: 30px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .msg {
        font-size: 90px;
        font-weight: bold;
        background: linear-gradient(to right, #7927b2, #fb3182);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 350px;
        text-transform: uppercase;
        line-height: .77;
    }

</style>

<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li class="nav-item text-danger">
            <a class="nav-link" href="/Tourmanager/QuanLyTour">Tour</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Tourmanager/HotelManager">Hotel - Transport</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Tourmanager/LocationManager">VisitLocation</a>
        </li>

    </ul>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="col-sm-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row" style="padding:10px">
                        <h3 class="tile-title">Danh sách khách sạn nổi bật</h3>
                        <div class="col-sm-2 tile-body">
                            <a class="btn btn-success btn-sm " type="button" title="CreateTour" href="/Tourmanager/CreateHotel">
                                Thêm mới
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid">
                                <tr style="background-color: #ffd43b;">
                                    <th>Mã</th>
                                    <th>
                                        Tên tỉnh
                                    </th>
                                    <th>
                                        Tên khách sạn
                                    </th>
                                    <th>
                                        Cấp độ
                                    </th>
                                    <th>Chức năng</th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.MaKS)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TinhThanh.TenTinh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenKS)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sao)
                                        </td>
                                        <td style="text-align:center">
                                            <a href="/Tourmanager/EditHotel/@item.MaKS" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Edit">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Delete" data-target="#DeleteModal-@item.MaKS" data-toggle="modal">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            @using (Html.BeginForm("DeleteHotel/" + item.MaKS, "Tourmanager", FormMethod.Post, null))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@item.MaKS">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Delete Confirmation</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to delete this customer?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                <button type="submit" class="btn btn-danger">Yes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row" style="padding:10px">
                        <h3 class="tile-title">Danh sách phương tiện di chuyển</h3>
                        <div class="col-sm-2">
                            <a class="btn btn-success btn-sm " type="button" title="CreateTour" href="/Tourmanager/CreateTrans">
                                Create new transport
                            </a>
                        </div>
                    </div>

                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="" cellpadding="0" cellspacing="0" border="0" role="grid">
                                    <tr style="background-color: #ffd43b;">
                                        <th>Mã</th>
                                        <th>
                                            Tên
                                        </th>
                                        <th>
                                            Hãng xe
                                        </th>
                                        <th>
                                            Chi tiết / Lưu ý (nếu có)
                                        </th>
                                        <th>Tùy chọn</th>
                                    </tr>

                                    @foreach (var item in phuongTiens)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.MaPTien)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenPTien)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HangXe)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChiTiet)
                                            </td>
                                            <td style="text-align:center">
                                                <a href="/Tourmanager/EditTrans/@item.MaPTien" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Edit">
                                                    <i class="fas fa-edit"></i>
                                                </a>


                                                <a class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Delete" data-target="#DeleteModalTrans-@item.MaPTien" data-toggle="modal">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                                @using (Html.BeginForm("DeleteTrans/" + item.MaPTien, "Tourmanager", FormMethod.Post, null))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="modal" tabindex="-1" role="dialog" id="DeleteModalTrans-@item.MaPTien">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Delete Confirmation</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Are you sure you want to delete this TRANSPORT?</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                    <button type="submit" class="btn btn-danger">Yes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }



                                            </td>
                                        </tr>
                                    }

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <p class="msg">
                info hotel transport.
            </p>
        </div>
    </div>
    

</div>




    <script>

        function OpenDeleteModal() {
            $("#myModalHotel").modal('show');

    }

        function DeleteHotel() {
        var data = document.getElementById("a").innerHTML;
        alert(data);
        //$.ajax(
        //    {
            //        type: 'GET',
            //        url: '/Home/Delete',
            //        contentType: 'application/json; charset=utf=8',
            //        data: data,
            //        success: function (result) {
            //            $('#modal-delete-content').html(result);
            //            $('#modal-delete').modal('show');
            //        },
            //        error: function (er) {
            //            alert(er);
            //        }
            //    });
        }

</script>





