@model Tourist_VietripInsum_2023.Models.NhanVien
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Profile";
    ViewBag.prf = "active";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" type="text/css" href="~/Content/style_profile.css">
</head>
<body>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row tile" >
                <div class="col-lg-4 col-md-3 col-sm-12 profile-tab-nav border-right">
                    <div class="p-4">
                        <div class="img text-center mb-3">
                            <img style="width: 100px;height: 100px;border-radius: 50%" src="@Model.HinhDaiDien" alt="Image" class="shadow">
                        </div>
                        <h3 class="text-center">
                            @{var user1 = (Tourist_VietripInsum_2023.Models.NhanVien)HttpContext.Current.Session["user"];
                                @user1.HoTen}
                        </h3>
                        <div class="nav flex-column nav-pills online" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <p>
                                <i class=' bx bxs-circle text-success'></i><span class="app-menu__label">Online</span>
                            </p>
                        </div>
                        <br />
                        <div class="text-center mb-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                            <span class="editProfile">Edit</span>

                        </div>
                    </div>
                </div>
                <div class="p-8 tab-content" id="v-pills-tabContent">
                    <div class="" id="account" role="tabpanel" aria-labelledby="account-tab">
                        <h2 class="title_acc text-danger">General</h2>
                        @{
                            var user = (Tourist_VietripInsum_2023.Models.NhanVien)HttpContext.Current.Session["user"];
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Position</label>
                                    <h4>@user.ChucVu.TenCV</h4>
                                </div>
                                <div class="col-sm-6">
                                    <label>ID Staff</label>
                                    <h4>@user.MaNV</h4>
                                </div>
                                <div class="col-sm-6">
                                    <label>Phone number</label>
                                    <h4>@user.Sdt</h4>
                                </div>
                                <div class="col-sm-6">
                                    <label>Address</label>
                                    <h4>@user.DiaChi</h4>
                                </div>
                                <div class="col-sm-6">
                                    <label>Email</label>
                                    <h4>@user.Email</h4>
                                </div>
                                <div class="col-md-6">
                                    <label>Birthday</label>
                                    @{var db = String.Format("{0:d/M/yyyy}", user.NgaySinh); }
                                    <h4>@db</h4>
                                </div>
                                <div class="col-md-6">
                                    <label>Gender</label>
                                    <h4>@user.GioiTinh</h4>
                                </div>
                            </div>
                            <hr />
                        }
                        <h2 class="title_acc text-danger">Login</h2>
                        @{
                            var user2 = (Tourist_VietripInsum_2023.Models.NhanVien)HttpContext.Current.Session["user"];
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <h4>@user2.Username</h4>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Password</label>

                                        <p>A password security help protect your account</p>
                                        <h4><b>**********</b></h4>
                                        <p>Last changed: 19/12/2022 </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</body>
</html>

