@model IEnumerable<Tourist_VietripInsum_2023.Models.Tour>
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Tour Manager";
    ViewBag.qlt = "active";
    TouristEntities1 db = new TouristEntities1();
    var dsLT = db.TourTypes.ToList();
}

@*Loại tour*@
<p>
    @Html.ActionLink("Create Tour Type", "CreateTourType")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TourType.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourType.Discount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in dsLT)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTourType", new { id = item.IdType }) |
                @Html.ActionLink("Details", "TourTypeDetails", new { id = item.IdType }) |
                @Html.ActionLink("Delete", "DeleteTourType", new { id = item.IdType })
            </td>
        </tr>
    }
</table>


@*Tour*@
<p>
    @Html.ActionLink("Create New", "CreateTour")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImagerTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeparturePlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadlineOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.IdHotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourType.TypeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImagerTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeparturePlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadlineOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.IdHotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourType.TypeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTour", new { id = item.IdTour }) |
                @Html.ActionLink("Details", "TourDetails", new { id = item.IdTour }) |
                @Html.ActionLink("Delete", "DeleteTour", new { id = item.IdTour })
            </td>
        </tr>
    }
</table>

