@model Tourist_VietripInsum_2023.Models.Tour

@{
    ViewBag.Title = "TourDetails";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Tour Manager";
    ViewBag.qlt = "active";
}


<style>
    .info div{
        padding-top:10px;
    }
    .btn-backtolist{
        background-color: burlywood;
        font-size: 10px;
        color: white;
    }
    .container{
        width: 100%;
        margin: 0 0 0 0;
    }
</style>
<div class="tile">
    @*<h5 class="tile-title">THÔNG TIN TOUR</h5>*@

    <div class="tile-body">

        <div class="row element-button">
            <div class="col-sm-2">
                <a class="btn btn-warning btn-sm " type="button" title="Back" href="/Tourmanager/ListDetailTour/@Model.IdTour">
                    Danh sách lịch trình
                </a>
            </div>
            @*<div class="col-sm-2">
                <a class="btn btn-success btn-sm " type="button" title="Back" href="/Tourmanager/CreateDetailTour/@Model.IdTour">
                    Thêm lịch trình
                </a>
            </div>*@
            <div class="col-sm-4">
                <a class="btn btn-danger btn-sm " style ="text-align: center; margin-left: 500px" type="button" title="Back" href="/Tourmanager/DeleteTour/@Model.IdTour">
                    Xóa tour
                </a>
            </div>
        </div>


        <div class="container">
            <div class="row" style="width=100%">
                <div class="col-sm-2" style="padding-top:40px;">
                    <img class="img-rounded" src="~/Content/Images/bg_login.jpg" width="200" height="200" />
                </div>
                <div class="info col-sm-9" style="margin-left: 60px" >
                    <h3 style="font-size: 30px; text-align: center">THÔNG TIN TOUR</h3>
                    <div class="col-sm-4">
                        <strong>Id Tour: </strong>@Html.DisplayFor(model => model.IdTour)
                    </div>
                    <div class="col-sm-4">
                        <strong>Type Tour: </strong>@Html.DisplayFor(model => model.Id_TypeTour)
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <br />
                    <div class="col-sm-12" style="text-align: center; font-size : 20px; color:chocolate">
                        <strong>Tour Name: </strong>@Html.DisplayFor(model => model.TourName)
                    </div>
                    <div class="col-sm-4">
                        <strong>Điểm đi: </strong>@Html.DisplayFor(model => model.DeparturePlace)
                    </div>
                    <div class="col-sm-4">
                        <strong>Điểm đến: </strong>@Html.DisplayFor(model => model.DeparturePlace)
                    </div>
                    <div class="col-sm-4">
                        <strong>Số chổ: </strong>@Html.DisplayFor(model => model.NumberAvailable)
                    </div>
                    @{
                        var han = String.Format("{0:d/M/yyyy}", Model.DeadlineOrder);
                        var ngay = String.Format("{0:d/M/yyyy}", Model.Departure);
                    }
                    <div class="col-sm-4">
                        <strong>Ngày khởi hành: </strong>@Html.DisplayFor(model => ngay)
                    </div>

                    <div class="col-sm-4">
                        <strong>Thời gian đi: </strong>@Html.DisplayFor(model => model.TimeTour)
                    </div>
                    <div class="col-sm-4">
                        <strong>Hạn đặt: </strong>@Html.DisplayFor(model => han)
                    </div>
                    <div class="col-sm-12">
                        <strong>Mô tả: </strong>@Html.DisplayFor(model => model.Mota)
                    </div>
                    <div class="col-sm-12">
                        <table>
                            @*//Phần render từng dòng trong C#*@
                            <thead>
                                <tr style="background-color:antiquewhite;">
                                    <th>Vé người lớn</th>
                                    <th>Vé trẻ em</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => Model.PriceAdult)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.PriceChildren)
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            <div>

            </div>
            <div>
                <a class="btn btn-backtolist" type="button",  title="Back" href="/Tourmanager/ListDetailTour/@Model.IdTour">
                   Back to List
                </a>
            </div>
        </div>
    </div>
