@model Tourist_VietripInsum_2023.Models.TourType

@{
    ViewBag.Title = "TourTypeDetails";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
}

<div>
    <h4>TourType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
