@model Tourist_VietripInsum_2023.Models.Tour

@{
    ViewBag.Title = "TourDetails";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
    ViewBag.Name = "Tour Manager";
    ViewBag.qlt = "active";
}


<style>
    .info div{
        padding-top:10px;
        padding-left:50px;
    }
</style>
<div class="tile">
    @*<h5 class="tile-title">THÔNG TIN TOUR</h5>*@

    <div class="tile-body">

        <div class="row element-button">
            <div class="col-sm-2">
                <a class="btn btn-warning btn-sm " type="button" title="List Detail" href="/Tourmanager/ListDetailTour/@Model.MaTour">
                    Chi tiết tour
                </a>
            </div>
            @*<div class="col-sm-2">
                <a class="btn btn-success btn-sm " type="button" title="Back" href="/Tourmanager/CreateDetailTour/@Model.IdTour">
                    Thêm lịch trình
                </a>
            </div>*@
            <div class="col-sm-2">
                <a class="btn btn-danger btn-sm" type="button" title="DeleteTour" data-toggle="modal" data-target="#myModal">
                    Xóa tour
                </a>

            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-sm-3 " style="text-align:center;padding-top:40px;">
                    <img src="@Model.HinhMinhHoa_T" width="250" height="180" />
                </div>
                <div class="info col-sm-9">
                    <h3>THÔNG TIN TOUR @Html.DisplayFor(model => model.MaTour)</h3>
                    <div class="col-sm-4">
                        <strong>Type Tour: </strong>@Html.DisplayFor(model => model.MaLTour)-@Html.DisplayFor(model => model.LoaiTour.TenLTour)
                    </div>
                    <div class="col-sm-12">
                        <strong>Tour Name: </strong>@Html.DisplayFor(model => model.TenTour)
                    </div>

                    <div class="col-sm-4">
                        <strong>Số ngày: </strong>@Html.DisplayFor(model => model.SoNgay)
                    </div>
                    <div class="col-sm-4">
                        <strong>Hạn đặt: </strong>@Html.DisplayFor(model => model.HanChotDatVe)
                    </div>
                    <div class="col-sm-12">
                        <strong>Số chỗ còn nhận: </strong>@Html.DisplayFor(model => model.SoChoNull)
                    </div>
                    <div class="col-sm-12">
                        <strong>Trạng thái: </strong>
                        @Html.DisplayFor(model => model.TrangThai)
                    </div>
                    <div class="col-sm-12">
                        <strong>Mã Khách sạn: </strong>
                        @Html.DisplayFor(model => model.MaKS) <span>(</span>@Html.DisplayFor(model => model.Hotel.TenKS))
                    </div>
                    <div class="col-sm-12">
                        <strong>Mã tỉnh: </strong>
                        @Html.DisplayFor(model => model.Hotel.MaTinh) <span>(</span>@Html.DisplayFor(model => model.Hotel.TinhThanh.TenTinh))
                    </div>
                    <div class="col-sm-4">
                        <strong>Ngày về: </strong>@Html.DisplayFor(model => model.NgayTroVe)
                    </div>
                    <div class="col-sm-6">
                        <strong>Giá vé: </strong>
                        <table>
                            @*//Phần render từng dòng trong C#*@
                            <thead>
                                <tr style="background-color: #ffd43b;">
                                    <th>Vé người lớn</th>
                                    <th>Vé trẻ em</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.GiaNguoiLon)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.GiaTreEm)
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <strong>Thông tin tậpp trung: </strong>
                        <div class="col-sm-12">

                            <table>
                                @*//Phần render từng dòng trong C#*@
                                <thead>
                                    <tr style="background-color: #09493352;">
                                        <th>Nơi khởi hành</th>
                                        <th>Ngày tập trung</th>
                                        <th>Giờ đi</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @{
                                            var ngaytt = String.Format("{0:d/M/yyyy}", Model.NgayKhoihanh);
                                            var giott = String.Format("{0:T}", Model.NgayKhoihanh);
                                        }

                                        <td>
                                            Sân bay Tân Sơn Nhất, @Html.DisplayFor(model => model.NoiKhoiHanh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => ngaytt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => giott)
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>
            <div>
                @Html.ActionLink("Back to List", "QuanLyTour")
            </div>
        </div>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3>!!!!</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure to delete the tour ?!
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</a>
                        <a type="button" class="btn btn-danger btn-sm" href="/Tourmanager/DeleteTour/@Model.MaTour">Delete</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
 
 </div>  

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="Scripts/jquery-1.4.1.js" type="text/javascript"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>





    @*<script type="text/javascript">
            function remove() {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover your profile!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        debugger
                        if (willDelete) {
                            var idt = document.getElementById("idtourc").innerText;
                            $.ajax({
                                type: "POST",
                                data: { id: idt },
                                url: "/Tourmanager/DeleteTour" + idt,
                                dataType: "json",

                                success: function (response) {
                                    swal("Poof! Your profile has been deleted!", {
                                        icon: "success",
                                    }).then(function () {
                                        window.location.href = "/Tourmanager/QuanLyTour"
                                    });

                                },
                                failure: function (response) {
                                    alert("error")
                                },
                                error: function (response) {
                                    alert("error")
                                }
                            });

                            //alert("hahaha"+idt);
                        }
                        else {
                            swal("Your profil is safe!");
                        }
                    });
            }
        </script>*@
