@model Tourist_VietripInsum_2023.Models.DiaDiemThamQuan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
}

<div>
    <h4>@Model.TenDDTQ - @Model.TinhThanh.TenTinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDDTQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDDTQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhMinhHoa_D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhMinhHoa_D)
        </dd>
    </dl>
</div>
<p>
    <a href="/Tourmanager/EditVisitLocations/@Model.MaDDTQ" class="btn btn-outline-primary btn-sm" ata-toggle="tooltip" title="Edit">
        <i class="fas fa-edit"></i> Edit
    </a>
    @Html.ActionLink("Back to List", "LocationManager")
</p>
