@model Tourist_VietripInsum_2023.Models.VistLocation

@{
    ViewBag.Title = "VistLocationsDetails";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
}

<h2>VistLocationsDetails</h2>

<div>
    <h4>VistLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameVist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameVist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loca_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loca_address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditVisitLocations", new { id = Model.IdVistLocat }) |
    @Html.ActionLink("Back to List", "QuanLyTour")
</p>
