@model IEnumerable<Tourist_VietripInsum_2023.Models.ChiTietTour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Tourmanager/LayoutTM/_ViewTM.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotaChitiet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaDiemThamQuan.MaTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhuongTien.TenPTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tour.MaLTour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TieuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotaChitiet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDiemThamQuan.MaTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhuongTien.TenPTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tour.MaLTour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
