@model Tourist_VietripInsum_2023.Models.Staff
@using Tourist_VietripInsum_2023.Models;

@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Admin/AdminView.cshtml";
    TouristEntities1 db = new TouristEntities1();
    ViewBag.qlstaff = "active";

    ViewBag.nd = "Create Staff";
}

<div class="tile">
    <h3 class="tile-title">CREATE STAFF</h3>
    <div class="tile-body">


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdStaff)

        <form class="row" action="" method="post">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.IdPos, "MaDL", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("IdPos", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdPos, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
            <div class="form-group  col-md-4">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.StaffEmail, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.StaffEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StaffEmail, "", new { @class = "text-danger" })
            </div>
            <div class="form-group  col-md-4">
                @Html.LabelFor(model => model.NumberPhone, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NumberPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberPhone, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.StaffAddress, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.StaffAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StaffAddress, "", new { @class = "text-danger" })
            </div>


        </form>


    </div>
    <div class="row element-button" style="padding-left:10px">
        <div class="col-sm-2">
            <input type="submit" value="Create Staff" class="btn btn-save" id="submitButton" />
        </div>
    </div>
</div>
@Html.ActionLink("Back to list", "Staffmanager")



