@model Tourist_VietripInsum_2023.Models.Staff
@using Tourist_VietripInsum_2023.Models;

@{
    ViewBag.Title = "DetailStaff";
    Layout = "~/Views/Admin/AdminView.cshtml";
    TouristEntities1 db = new TouristEntities1();
    ViewBag.qlstaff = "active";

    ViewBag.name = "Detail Staff";
}
<link href="~/Content/staff.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body" id="tile-body">
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <h1 style="text-align: center; color: rgb(0, 28, 64);">
                        STAFF INFORMATION
                    </h1>
                    <div class="staffinfo row">
                        <div class="staff-img col-md-4">
                            @{ 
                                var img = Model.Avatar;
                                if (img == null) 
                                { 
                                    <img src="~/Content/Images/account.png" class="rounded-circle" alt="Cinque Terre" width="200" height="200" style="margin-top:30px;">
                                }
                                else
                                {
                                    <img src="@Model.Avatar" class="rounded-circle" alt="Cinque Terre" width="200" height="200" style="margin-top:30px;">
                                }
                            }
                        </div>
                        <div class="staff-content col-md-8">
                            <p>
                                <h4 style="display: flex;">@Html.DisplayFor(modelItem => Model.FullName)</h4>
                                <div>
                                    <span>
                                        <strong>Id Staff: </strong> @Html.DisplayFor(modelItem => Model.IdStaff)
                                    </span>
                                    @{
                                        var pos = db.Positions.Where(s => s.IdPos == Model.IdPos).FirstOrDefault();
                                    }
                                    <span>
                                        @Html.DisplayFor(modelItem => Model.IdPos) - @Html.DisplayFor(modelItem => pos.NamePos)
                                    </span>
                                </div>
                            </p>
                            <p>
                                <span>
                                    <strong>Gender:</strong> @Html.DisplayFor(modelItem => Model.Gender)
                                </span>
                                <span>
                                    @{ var birthday = string.Format("{0: dd-MM-yyyy}", Model.StaffBirthday);}
                                    <strong>Birthday:</strong> @Html.DisplayFor(modelItem => birthday)
                                </span>
                            </p>
                            <p>
                                <span>
                                    <strong>Address:</strong> @Html.DisplayFor(modelItem => Model.StaffAddress)
                                </span>
                            </p>
                            <p>
                                <span>
                                    <strong>User Name:</strong> @Html.DisplayFor(modelItem => Model.Username)
                                </span>
                            </p>
                            <p>
                                <span>
                                    <strong>Contact:</strong> @Html.DisplayFor(modelItem => Model.NumberPhone) 
                                </span>
                                <span>
                                    <strong>Email: </strong> @Html.DisplayFor(modelItem => Model.StaffEmail)
                                </span>
                            </p>
                            <p>
                                <span>
                                    <strong>Status:</strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row element-button" style="padding-left:10px; border: 0px;">
            <div class="col-sm-2">
                <a class="btn btn-danger btn-sm " type="button" title="DeleteStaff" href="/Admin/DeleteStaff/@Model.IdStaff" onclick="showMessage()">
                    Delete Account
                    <script>
                        function showMessage() {
                            swal({
                                title: "Are you sure?",
                                text: "Once deleted, you will not be able to recover this imaginary file!",
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            })
                                .then((willDelete) => {
                                    if (willDelete) {
                                        $.ajax({
                                            @Url.Action("DeleteStaff","Admin")
                                        });

                                    } else {
                                        swal("Your imaginary file is safe!");
                                    }
                                });
                        }
                    </script>
                </a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file" title="In" onclick="myApp.printTable()">
                    <i class="fas fa-print"></i> In dữ liệu
                </a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-warning btn-sm " type="button" title="Back" href="/Admin/ListOfStaff">
                    Back to list
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('tile-body');
            var win = window.open('', '', 'height=800px,width=1200px');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });
</script>