@model Tourist_VietripInsum_2023.Models.Staff
@using Tourist_VietripInsum_2023.Models
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Admin/AdminView.cshtml";
    ViewBag.Name = "Home Page";
    TouristEntities1 db = new TouristEntities1();
    var tourmanagersff = db.Staffs.ToList().Count();
    var customer = db.Customer_Guest.ToList().Count();
}
<link rel="stylesheet" type="text/css" href="~/Content/style_profile.css">
<style>
    a :hover {
        color: gray;
        opacity: 80%;
    }
</style>

@{
    var checkMessage = TempData["AlertMessage"];
    if (checkMessage == "Login sucess")
    {
        <script>
            swal({
                title: "Login success!",
                text: "Welcome to your back!",
                icon: "success",
                button: "OK",
            });
        </script>
    }
}

<div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <!-- col-6 -->
                <div class="col-lg-6 col-xs-12">
                    <a class="widget-small info coloured-icon @ViewBag.qlk" href="/Admin/ListOfStaff" style="text-decoration: none;">
                        <i class='icon bx bxs-user-account fa-3x'></i>
                        <div class="info">
                            <h4>Staff</h4>
                            <p><b>Total @tourmanagersff staff</b></p>
                            <p class="info-tong">Responsible for tour management: Add, delete, edit tours.</p>
                        </div>
                    </a>
                </div>
                <!-- col-6 -->
                <div class="col-lg-6 col-xs-12">
                    <a class="widget-small primary coloured-icon #" href="/Admin/ListOfCustomers" style="text-decoration: none;">
                        <i class='icon bx bxs-shopping-bag-alt fa-3x'></i>
                        <div class="info">
                            <h4>Customer</h4>
                            <p><b>Total @customer customer</b></p>
                            <p class="info-tong">including current customers and customers with accounts</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="tile">
                <h3 class="tile-title">
                    <i class="bx bxs-user"></i>
                    Profile
                </h3>
                <div class="row rounded-lg d-block d-sm-flex">
                    <div class="col-lg-4 col-md-3 col-sm-12 profile-tab-nav border-right">
                        <div class="p-4">
                            @{var user1 = (Tourist_VietripInsum_2023.Models.Staff)HttpContext.Current.Session["user"];
                                var img = user1.Avatar;
                                if (img == null)
                                {
                                    <div class="img text-center mb-3">
                                        <img style="width: 100px; height: 100px; border-radius: 50%" src="~/Content/Images/account.png" alt="Image" class="shadow">
                                    </div>
                                }
                                else
                                {
                                    <div class="img text-center mb-3">
                                        <img style="width: 100px; height: 100px; border-radius: 50%" src="@user1.Avatar" alt="Image" class="shadow">
                                    </div>
                                }
                                <h4 class="text-center">
                                    @user1.FullName
                                </h4>
                            }
                            <div class="nav flex-column nav-pills online" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <p>
                                    <i class=' bx bxs-circle text-success'></i><span class="app-menu__label">Online</span>
                                </p>
                            </div>
                            <br />
                            <div class="text-center mb-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                                <span class="editProfile">Edit</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-11 col-sm-12 tab-content" id="v-pills-tabContent">
                        <div class="" id="account" role="tabpanel" aria-labelledby="account-tab">
                            <h4 class="title_acc text-danger">General</h4>
                            @{
                                var user = (Tourist_VietripInsum_2023.Models.Staff)HttpContext.Current.Session["user"];
                                <div class="row">
                                    <div class="col-12">
                                        <div>
                                            <label>Position</label>
                                            <h6>@user.Position.NamePos</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label>ID Staff</label>
                                            <h6>@user.IdStaff</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label>Phone number</label>
                                            <h6>@user.NumberPhone</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label>Address</label>
                                            <h6>@user.StaffAddress</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label>Email</label>
                                            <h6>@user.StaffEmail</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label>Birthday</label>
                                            <h6>@user.StaffBirthday</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label>Gender</label>
                                            <h6>@user.Gender</h6>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                            <h4 class="title_acc text-danger">Login</h4>
                            @{
                                var user2 = (Tourist_VietripInsum_2023.Models.Staff)HttpContext.Current.Session["user"];
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label>Username</label>
                                            <h6>@user2.Username</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label>Password</label>
                                            <h6>@user2.UserPassword</h6>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

