@model IEnumerable<Tourist_VietripInsum_2023.Models.Staff>

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HomePage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdStaff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffAddress)
        </th>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffBirthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdStaff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffAddress)
        </td>
        <td>
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffBirthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
